{% extends "/quiz/base_quiz.html" %} {% block title %}Avaliação{% endblock %} {%
block head_image %}
<div
  class="head_img"
  style="
    background-image: url(/static/images/image-avaliacao.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  "
></div>
{% endblock %} {% block quiz %}
<div class="col-lg-8 mx-auto">
  <br>
  <br>
  <h1 class="intro_avaliacao" style="margin-bottom: 3rem;">Avalie seus conhecimentos</h1>

  <form action="/avaliacao" method="POST">
    {% for key,value in perguntas.items() %} {% if key != "result" %}
    <div class="question_box" id="prova_{{value[0]}}">
      <div class="question_box_1">
        <div class="engrenagens-div">
          <img class="engrenagem" src="{{url_for('static', filename='images/engrenagem.png')}}">
          <div style="display: flex; flex-direction: column;">
          <h3 class="num_question" style="margin-top: 1rem; display: flex; justify-content: center;">Questão {{value[0]}}:</h3>
          <p class="question_script_test" style="margin-bottom: 1rem;">{{value[6]}}</p>
        </div>
        <img class="engrenagem" src="{{url_for('static', filename='images/engrenagem.png')}}">
        </div>
      </div>
      <div class="quiz_option">
        <div class="alternativa_avaliacao_1">
          <input
            class="alternativa_avaliacao"
            type="radio"
            id="A{{key}}"
            name="resposta{{key}}"
            value="A"
            required
          />
          <label for="A{{key}}" style="text-align: center;"><p class="av_alternativa_text">{{value[7]}}</p></label>
        </div>

        <div class="alternativa_avaliacao_1">
          <input
            class="alternativa_avaliacao"
            type="radio"
            id="B{{key}}"
            name="resposta{{key}}"
            value="B"
          />
          <label for="B{{key}}" style="text-align: center;"><p class="av_alternativa_text">{{value[8]}}</p></label>
        </div>

        <div class="alternativa_avaliacao_1">
          <input
            class="alternativa_avaliacao"
            type="radio"
            id="C{{key}}"
            name="resposta{{key}}"
            value="C"
          />
          <label for="C{{key}}" style="text-align: center;"><p class="av_alternativa_text">{{value[9]}}</p></label>
        </div>

        <div class="alternativa_avaliacao_1">
          <input
            class="alternativa_avaliacao"
            type="radio"
            id="D{{key}}"
            name="resposta{{key}}"
            value="D"
          />
          <label for="D{{key}}" style="text-align: center;"><p class="av_alternativa_text">{{value[10]}}</p></label>
        </div>
      </div>
    </div>
    <br>

    {% endif %} {% endfor %}

    <button class="button_avaliacao_conferir rounded-pill shadow-lg">
      <p class="text_button_av">Conferir resultado</p>
    </button>
  </form>
</div>

{% endblock %}

<!-- perguntas -->
{% block perguntas %} {% endblock %}
