{% extends "/quiz/base_quiz.html" %} {% block title %}Avaliação{% endblock %} {%
block head_image %}
<div
  class="head_img"
  style="
    background-image: url(/static/images/image-avaliacao.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  "
></div>
{% endblock %} {% block quiz %}
<div class="quiz_page">
  <h1 class="intro_avaliacao">Avalie seus conhecimentos</h1>

  <form action="/avaliacao" method="POST">
    {% for key,value in perguntas.items() %} {% if key != "result" %}
    <div class="question_box" id="prova_{{value[0]}}">
      <div class="question_box_1">
        <div class="engrenagens-div">
          
          <h3 class="num_question">Questão {{value[0]}}:</h3>
          
        </div>
        <p class="question_script_test">{{value[6]}}</p>
      </div>
      <div class="quiz_option">
        <div class="alternativa_avaliacao_1">
          <input
            class="alternativa_avaliacao"
            type="radio"
            id="A{{key}}"
            name="resposta{{key}}"
            value="A"
            required
          />
          <label for="A{{key}}">{{value[7]}}</label>
        </div>

        <div class="alternativa_avaliacao_1">
          <input
            class="alternativa_avaliacao"
            type="radio"
            id="B{{key}}"
            name="resposta{{key}}"
            value="B"
          />
          <label for="B{{key}}">{{value[8]}}</label>
        </div>

        <div class="alternativa_avaliacao_1">
          <input
            class="alternativa_avaliacao"
            type="radio"
            id="C{{key}}"
            name="resposta{{key}}"
            value="C"
          />
          <label for="C{{key}}">{{value[9]}}</label>
        </div>

        <div class="alternativa_avaliacao_1">
          <input
            class="alternativa_avaliacao"
            type="radio"
            id="D{{key}}"
            name="resposta{{key}}"
            value="D"
          />
          <label for="D{{key}}">{{value[10]}}</label>
        </div>
      </div>
    </div>

    {% endif %} {% endfor %}

    <button class="button_avaliacao rounded-pill shadow-lg">
      <p class="text_button_av">Conferir resultado</p>
    </button>
  </form>
</div>

{% endblock %}

<!-- perguntas -->
{% block perguntas %} {% endblock %}
