{% extends "/quiz/base_quiz.html" %}

{% block title %}Avaliação{% endblock %}

<!-- inserir imagem principal da página -->
{% block head_image %} {% endblock %}

<!-- conteúdo de teoria -->
{% block quiz %}


<div class="resultado">
    <br>
    <div>
        {% if acertos/(respostas|length) * 100 < 70 %}
            <h1 class="aprovado_reprovado_av">Você foi reprovado!</h1>
            <p class="desc_resultado_av">Confira seus erros, estude com os nossos materiais e depois tente novamente.</p>
        {% else %}
            <h1 class="aprovado_reprovado_av">Parabéns! Você foi aprovado!</h1>
            <p class="desc_resultado_av">Você obteve um aproveitamento satisfatório e pode resgatar o seu certificado.</p>
            <div style="width:fit-content;margin:auto;display: flex;flex-direction: row;">
                <a href="/certificado" target="_blank" style="display: flex;"><button class="btn" style="display: flex;"><img src="/static/images/certificate-svg.svg" height="30" width="40" id="img_certificado"><p class="certificado_avalie_av">Receba seu certificado</p></button></a>
            </div>
        {% endif %}
        <div style="width:fit-content;margin:auto;display: flex;flex-direction:row;">
            <a href="/feedback"><button class="btn" style="display: flex;"><img src="/static/images/star-svg.svg" height="30" width="40" id="img_avalie"><p class="certificado_avalie_av">Avalie o nosso site</p></button></a>
        </div>
    </div>
       <h2 class="aproveitamento_av">Seu aproveitamento foi de <strong>{{porcentagem}}</strong></h2>
       <br>
    <div class="resultado_acertos">
        <img src="{{url_for('static', filename='images/certo_quiz.png')}}" class="img_resultados">
    <h5 class="acertos_erros_av">Número de acertos: <strong>{{acertos}}</strong></h5>
    </div>
    <div class="resultado_erros">
        <img src="{{url_for('static', filename='images/errado_quiz.png')}}" class="img_resultados">
    <h5 class="acertos_erros_av">Número de erros: <strong>{{erros}}</strong></h5>
    </div>

    
    <br>
    <p class="suas_respostas_av"><strong>Suas respostas:</strong></p>
    <ul class="lista_respostas_av">
        {% for key, value in respostas.items() %}
        <li>Resposta {{perguntas[key][0]}}: {{value}}</li>
        {% endfor %}
    </ul>
    <br>
    <p class="seus_erros_av"><strong>Seus erros:</strong></p>
    <dl class="textos_correção_av">
        {% for key, value in questoes_erradas.items() %}
        <dt>Questão {{key}}</dt>
        <dd>{{value}}</dd>
        <br>
        {% endfor %}
    </dl>
    <br>
    <a href="/apostila"><button class="button_avaliacao rounded-pill shadow-lg" id="button_next"><p class="text_buttons_av_resultado">Seguir para apostila</p></button></a>
    <a href="/avaliacao"><button class="button_avaliacao rounded-pill shadow-lg" id="refazer" style="float: left;"><p class="text_buttons_av_resultado">Refazer avaliação</p></button></a>
</div>
<br><br><br>



{% endblock %}



<!-- perguntas -->
{% block perguntas %}
{% endblock %}