{% extends "/quiz/base_quiz.html" %}

{% block title %}Avaliação{% endblock %}

<!-- inserir imagem principal da página -->
{% block head_image %} {% endblock %}

<!-- conteúdo de teoria -->
{% block quiz %}


<div class="resultado">
    <br>

    {% if acertos/(respostas|length) * 100 <= 60 %}
        <h1 style="text-align: center; font-weight: bold;">Você foi reprovado!</h1>
        <p style="text-align: center">Confira seus erros, estude com os nossos materiais e depois tente novamente.</p>
    {% else %}
        <h1 style="text-align: center; font-weight: bold;">Parabéns! Você foi aprovado!</h1>
    {% endif %}

    <br>
    
    <h2 style="text-align: center;">Seu aproveitamento foi de <strong>{{porcentagem}}</strong></h2>
    <div class="resultado_acertos">
        <img src="{{url_for('static', filename='images/certo_quiz.png')}}" class="img_resultados">
    <h5>Número de acertos: <strong>{{acertos}}</strong></h5>
    </div>
    <div class="resultado_erros">
        <img src="{{url_for('static', filename='images/errado_quiz.png')}}" class="img_resultados">
    <h5>Número de erros: <strong>{{erros}}</strong></h5>
    </div>
    <br>
    <p style="margin-bottom: 0;"><strong>Suas respostas:</strong></p>
    <ul style="margin-top:0">
        {% for key, value in respostas.items() %}
        <li>Resposta {{perguntas[key][0]}}: {{value}}</li>
        {% endfor %}
    </ul>
    <br>
    <p style="margin-bottom: 0;"><strong>Seus erros:</strong></p>
    <dl style="margin-top:0">
        {% for key, value in questoes_erradas.items() %}
        <dt>Questão {{key}}</dt>
        <dd>{{value}}</dd>
        <br>
        {% endfor %}
    </dl>
    <br>
    <a href="/apostila"><button class="botao_iniciar" id="button_next">Seguir para apostila</button></a>
    <a href="/avaliacao"><button class="botao_iniciar" id="refazer" style="float: left;">Refazer avaliação</button></a>
</div>



{% endblock %}



<!-- perguntas -->
{% block perguntas %}
{% endblock %}