<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"> 
    
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="/static/images/logo_transp.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap" rel="stylesheet">
    <style>
        h1{
            text-align: center;
        }
    </style>

</head>
<body class="body_quiz">
    <header class="link_bar">  
        <a class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" style="color:white; font-size:30px; line-height:60px">
            &#9776
        </a>
          
          <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="background-color: #223c4b; color:white;">
            <div class="offcanvas-header">

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search" style="width:240px">
                    <button class="btn btn-outline-success" type="submit">&#128269</button>
                </form>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="indice">
                    <h5>Índice</h5>
                    <!-- construção do indice com loop pelo arquivo json -->
                    <ol>
                        
                            <li><a href="/ferramentas/p_product">Product Backlog</a></li>
                            <br>
                            <li><a href="/ferramentas/p_sprint">Sprint Backlog</a></li>
                            <br>
                            <li><a href="/ferramentas/p_burndown">Burndown Chart</a></li>
                            
                
                    </ol>
                </div>
            </div>
          </div>


        <a href="/"><img src="/static/images/logo_transp.png" alt="logo"></a>
        <span class="header_link">
            <a href="/ferramentas" alt="ferramentas">FERRAMENTAS</a>
            <a href="/pacer" alt="pacer">PACER</a>
            <a href="/avaliação" alt="avaliação">AVALIAÇÃO</a>
            <a href="/apostila" alt="apostila">APOSTILA</a>
            <a href="/quiz" alt="quiz">QUIZ</a>
            <!-- <a href="#" alt="home">HOME</a> -->
        </span>
        <hr class="header_hr">
    </header>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
