{% extends "/ferramentas/base_ferramentas.html" %}

{% block title %}Ferramentas{% endblock %}

{% block head_image %}
        <div class="head_img" style="background-image:url(/static/images/image-ferramentas.png); background-position:center; background-size: contain; background-repeat: no-repeat;"></div>
{% endblock %}

{% block content %}
    <br>
<div class="ferramentas_grid">
<figure style="text-align: center;">
  <img class="img-ferramentas" src="{{url_for('static', filename='images/burndown-imagem.png')}}" alt="Burndown Chart">
    
    <figcaption style="text-align: center;" >
        <a href="{{url_for('static', filename='modelos-ferramentas/Burndown-modelo.xlsx')}}" download>
            <button type="button" class="btn btn-outline-dark botao_pagina_ferramentas">Burndown Chart</button>
        </a>
    </figcaption>
</figure>

<figure style="text-align: center;">
  <img class="img-ferramentas" src="{{url_for('static', filename='images/sprint-imagem.png')}}" alt="Sprint Backlog">
    
    <figcaption style="text-align: center;" >
        <a href="{{url_for('static', filename='modelos-ferramentas/Backlog-da-sprint.xlsx')}}" download>
            <button type="button" class="btn btn-outline-dark botao_pagina_ferramentas">Sprint Backlog</button>
        </a>
    </figcaption>
</figure>    

<figure style="text-align: center;">
  <img class="img-ferramentas" src="{{url_for('static', filename='images/produto-imagem.png')}}" alt="Product Backlog">
 
    <figcaption style="text-align: center;" >
        <a href="{{url_for('static', filename='modelos-ferramentas/Backlog-do-produto.xlsx')}}" download>
            <button type="button" class="btn btn-outline-dark botao_pagina_ferramentas">Product Backlog</button>
        </a>
    </figcaption>
</figure>
</div>
        

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
{% endblock %}