{% extends "/ferramentas/base_ferramentas.html" %}

{% block title %}Sprint Backlog{% endblock %}

{% block content %}
<h1 style="padding-top: 2%;">Modelo Sprint Backlog</h1>

<!-- imagem, botão e texto responsivo -->
<div class="container-sprint-ferramentas">
    <div class="container-sprint-imagem-botao">
    <img class="img-pagina-sprint" src="{{url_for('static', filename='images/sprint-imagem.png')}}" alt="Imagem" ><br>
    <a href="{{url_for('static', filename='modelos-ferramentas/Backlog-da-sprint.xlsx')}}" download>
        <button type="button" class="button_home_page_ferramentas rounded-pill shadow-lg">Sprint Backlog</button>
    </a>
    </div>
    <div class="text-pagina-produto-sprint">
      <p><strong>Como utilizar o modelo:</strong><br>
        No Ranking os números são colocados de acordo com a ordem em que eles estão dispostos, iniciando pelo "1", as prioridades seram definidadas entre "alta", "media" e "baixa" de acordo com o que agrega mais valor ao resulado final, nas user storys seram escritas as atividades que seram feitas, sub a perspectiva dos desenvolvedores do projeto na coluna responsavel é colocado o nome de quem da sua equipe está encarregado de desenvolver a atividade e por fim na coluna status é determinado o que foi feito e o que ainda está pedente</p>
    </div>
</div>
<!-- fim -->

<!-- texto de orientação -->
    <div class="text-pagina-produto-sobre">
        <h1>Orientações gerais sobre Sprint Backlog</h1>
        <br>
        <h6> <strong>Passo 1: Seleção de Itens do Product Backlog:</strong></h6> 
            <p>No início de cada sprint, a equipe seleciona os itens mais importantes do Product Backlog para inclusão no Sprint Backlog. Esses itens são escolhidos com base na priorização feita anteriormente e nas metas do sprint.</p>
            
        <h6> <strong>Passo 2: Divisão de Tarefas:</strong></h6>
            <p>Uma vez que os itens do Sprint Backlog são definidos, a equipe trabalha em conjunto para dividir esses itens em tarefas menores e mais gerenciáveis. Cada tarefa deve ser claramente definida e atribuída a um membro da equipe.
            </p>
        
        <h6> <strong>Passo 3: Estimativa de Esforço:</strong></h6>
            <p>A equipe estima o esforço necessário para completar cada tarefa, usando técnicas como pontuação de história, horas ideais ou pontos de história. Isso ajuda a garantir que o trabalho seja distribuído de forma equitativa e que o sprint seja realista em termos de capacidade.</p>

        <h6> <strong>Passo 4: Monitoramento do Progresso:</strong></h6>
            <p>Durante o sprint, a equipe monitora o progresso das tarefas do Sprint Backlog diariamente, geralmente durante as reuniões diárias. Isso permite que eles identifiquem rapidamente quaisquer obstáculos ou desafios e ajustem o plano conforme necessário.</p>
        
        <h6> <strong>Passo 5: Iteração e Adaptação:</strong></h6>
            <p>À medida que o sprint avança, a equipe trabalha de forma iterativa para completar as tarefas do Sprint Backlog. Se surgirem novos insights ou requisitos, a equipe pode adaptar o Sprint Backlog conforme necessário para garantir que o produto final atenda às necessidades do cliente.</p>

        <h6> <strong>Passo 6: Revisão e Retrospectiva:</strong> </h6>
            <p>No final do sprint, a equipe revisa o trabalho concluído durante a revisão do sprint, demonstrando as funcionalidades implementadas aos stakeholders. Em seguida, eles realizam uma retrospectiva para refletir sobre o sprint, identificar pontos fortes e áreas de melhoria no processo.</p>
    </div>
    
<!-- fim -->

{% endblock %}