{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 2</h1>
        <br>
        <h2>Assunto 5: Utilidade dos papéis e stakeholders e clientes</h2>
        <p>Dentro do ecossistema do Scrum, os papéis são como as engrenagens de uma máquina bem ajustada, cada um contribuindo para o funcionamento adequado dela com seus deveres específicos. Embora o Scrum Master, o Product Owner e o Dev Team sejam figuras centrais, há outros papéis que desempenham funções cruciais, como <a href="#" data-bs-toggle="popover" data-bs-trigger="hover"  title="Stakeholders" data-bs-content="Fornecem insights valiosos e feedback ao longo do processo, garantindo que as necessidades e expectativas sejam atendidas.">stakeholders</a> e <a href="#" data-bs-toggle="popover" data-bs-trigger="hover"  title="Clientes" data-bs-content="Definem os requisitos do produto e validam o trabalho concluído.">clientes</a>. Esses papéis, embora menos proeminentes, são igualmente importantes para o sucesso geral do Scrum.</p>
    
        <a href="/quiz/assunto9"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto10"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/10_assunto10" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}