{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/assunto11"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                <div class="container-assunto">
                    <br>
                    <h2>O que ocorre no Sprint Planning?</h2>
                    <p>Durante o Sprint Planning, o P.O apresenta e detalha os itens prioritários do backlog do produto, respondendo a dúvidas e fornecendo contexto sobre os objetivos da Sprint. A equipe de desenvolvimento discute esses itens, estima o esforço necessário e seleciona aqueles que podem ser completados na Sprint, criando o Sprint Backlog. A equipe de desenvolvimento também decompõe os itens do Sprint Backlog em tarefas específicas, identificando dependências e desafios potenciais. Nesse evento, o S.M deve garantir a participação ativa de todos, resultando em um plano concreto e consensual.</p>
                </div>
                <a href="/quiz/assunto12"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
            </div>
    </div>
    <a href="/quiz/salvar_quiz/12_assunto12" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}