{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/sprint_review"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                <div class="container-assunto">
                    <br>
                    <h2>O que é Sprint Retrospective?</h2>
                    <p>A Sprint Retrospective é um evento chave dentro da estrutura do Scrum, projetado para permitir que as equipes revisem e melhorem continuamente seu desempenho. Realizada no final de cada sprint, essa reunião proporciona um espaço seguro para que os membros da equipe compartilhem suas observações, identifiquem desafios enfrentados durante a sprint e discutam maneiras de superá-los no futuro. Ao abordar tanto os aspectos positivos quanto os negativos do processo, a Sprint Retrospective estimula a colaboração, o aprendizado e a inovação dentro da equipe. Essa reflexão regular não apenas fortalece o compromisso da equipe com a excelência, mas também promove um ambiente de trabalho mais eficaz e gratificante.</p>
                    <h2>O que ocorre na Sprint Retrospective?</h2>
                    <p>Durante a Sprint Retrospective, a equipe Scrum revisa o que funcionou bem e pode ser mantido e o que pode ser aprimorado nas Sprints futuras. É o momento de discutir práticas, ferramentas e interações, com foco em encontrar soluções para problemas e implementar mudanças que aumentarão a eficiência e a qualidade do trabalho.</p>
                </div>
                <a href="/quiz/sprint_retrospective"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
            </div>
    </div>
    <a href="/quiz/salvar_quiz/12_sprint_retrospective" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}