{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
        <div class="page_assunto_flex">
            <a href="/quiz/assunto12"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
            <div class="container-assunto">
                <br>
                <h2>O que é a Daily?</h2>
                <p>A Daily é uma reunião diária de até 15 minutos destinada a sincronizar as atividades da equipe e ajustar o plano de ação para o dia. No decorrer da reunião, cada membro do time de desenvolvimento responde a três perguntas: o que fez no dia anterior, o que planeja fazer hoje e se há algum impedimento. </p>
            </div>
            <a href="/quiz/assunto13"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
        </div>
    </div>
    <a href="/quiz/salvar_quiz/13_assunto13" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}