{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/sprint_retrospective"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                    <div class="container-assunto">
                        <br> 
                        <h2>Eventos adicionais</h2>
                        <p>Além dos eventos principais do Scrum, equipes ágeis, muitas vezes, organizam eventos adicionais para atender às necessidades específicas do projeto ou da organização. Esses eventos podem incluir workshops de estimativa, sessões de revisão técnica ou encontros para discutir questões emergentes. Sua principal vantagem é o fato de sua realização ser flexível e adaptável, ou seja, as equipes podem ajustar sua abordagem de acordo com os desafios enfrentados durante o desenvolvimento do produto.</p>
                    </div>
                    <a href="/quiz/eventos_adicionais"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
                </div>
    </div>
    <a href="/quiz/salvar_quiz/13_eventos_adicionais" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}