{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/assunto13"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                <div class="container-assunto">
                    <br>
                    <h2>Benefícios da Daily</h2>
                    <p>A Daily Scrum promove transparência, possibilita a identificação rápida de problemas e garante que todos estejam alinhados com os objetivos da Sprint. Essa prática fomenta a auto-organização e a responsabilidade coletiva, permitindo que a equipe mantenha-se ágil e eficiente diante dos desafios diários.</p>
                </div>
                <a href="/quiz/assunto14"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
            </div>
        
    </div>
    <a href="/quiz/salvar_quiz/14_assunto14" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}