{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 4{% endblock %}

{% block resumo %}
<div class="container mt-4">
    <div style="text-align:justify">
        <h1 id="quiz_title">Capítulo 4</h1>
        <div class="row d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-1">
                <a href="/quiz/eventos_adicionais" class="mb-3 mb-md-0">
                    <button id="button_previous" class="btn arrow_assunto">&#9664;</button>
                </a>
            </div>
            <div class="col-9 container mx-2 my-2 box_question">
                <h2>Product Backlog</h2>
                <p>No Scrum, o Product Backlog é uma lista de funcionalidades do produto elaborada pelo P.O junto ao cliente, com contribuições da equipe Scrum para estimar os custos de desenvolvimento. Deve incluir tanto funções visíveis ao cliente quanto requisitos técnicos.</p>
            </div>
            <div class="col-1">
                <a href="/quiz/product_backlog" class="mb-3 mb-md-0">
                    <button id="button_next" class="btn arrow_assunto">&#9654;</button>
                </a>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/quiz/salvar_quiz/14_product_backlog">
                <button class="button_parar_aqui rounded-pill shadow-lg">Salvar respostas</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}