{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
        <br>
        <h2>Assunto 5: O que é Sprint Review?</h2>
        <p>A Sprint Review é realizada ao final de cada Sprint. Seu objetivo é inspecionar o incremento do produto e adaptar o Product Backlog conforme necessário. Esse evento proporciona uma oportunidade valiosa para feedback imediato, permitindo que a equipe ajuste o curso do projeto conforme necessário. Além disso, é uma ocasião para celebrar as conquistas e identificar oportunidades de melhoria contínua. Ao promover a transparência e a colaboração, a Sprint Review garante que o produto siga atendendo às necessidades e expectativas dos usuários finais.</p>
        <a href="/quiz/assunto14"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto15"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/15_assunto15" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}