{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
        <br>
        <h2>Assunto 6: O que ocorre na Sprint Review?</h2>
        <p>Ao longo da Sprint Review, a equipe de desenvolvimento apresenta o trabalho concluído para o P.O e possíveis convidados, como o cliente ou acionistas do projeto, demonstrando as novas funcionalidades e coletando feedbacks. O P.O avalia o incremento em relação aos critérios de aceitação e à meta do Sprint, enquanto os convidados fornecem suas perspectivas sobre o produto e suas necessidades futuras. Essa interação dinâmica permite ajustes no backlog do produto e a definição de novas prioridades, assegurando que o desenvolvimento esteja sempre alinhado com as expectativas do mercado e as necessidades dos usuários.</p>
        <a href="/quiz/assunto15"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto16"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/16_assunto16" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}