{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
        <br>
        <h2>Assunto 7: O que é Product Backlog Refinement?</h2>
        <p>O Product Backlog Refinement, ou Refinamento do Backlog do Produto, é um evento recorrente no Scrum, onde o P.O e a equipe revisam, priorizam e ajustam os itens do backlog do produto. Durante esta atividade, os itens do backlog são detalhados, estimados e refinados, garantindo que estejam prontos para serem selecionados para as próximas sprints. É uma oportunidade para garantir que o backlog do produto esteja sempre atualizado e alinhado com as necessidades e objetivos do negócio, permitindo uma melhor previsibilidade e planejamento das entregas.</p>
        <a href="/quiz/assunto16"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto17"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/17_assunto17" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}