{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
        <br>
        <h2>Assunto 8: O que é Sprint Retrospective?</h2>
        <p>A Sprint Retrospective é um evento chave dentro da estrutura do Scrum, projetado para permitir que as equipes revisem e melhorem continuamente seu desempenho. Realizada no final de cada sprint, essa reunião proporciona um espaço seguro para que os membros da equipe compartilhem suas observações, identifiquem desafios enfrentados durante a sprint e discutam maneiras de superá-los no futuro. Ao abordar tanto os aspectos positivos quanto os negativos do processo, a Sprint Retrospective estimula a colaboração, o aprendizado e a inovação dentro da equipe. Essa reflexão regular não apenas fortalece o compromisso da equipe com a excelência, mas também promove um ambiente de trabalho mais eficaz e gratificante.</p>
        <a href="/quiz/assunto17"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto18"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/18_assunto18" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}