{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 4{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 4</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/sprint_backlog"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                    <div class="container-assunto">
                        <br>
                        <h2>Burndown</h2>
                        <p>O Burndown Chart é uma ferramenta do Scrum usada para medir o desempenho durante as Sprints. Administrado pelo S.M, esse gráfico mostra se o grupo está adiantado, atrasado ou no prazo. Ele exibe a quantidade de trabalho restante diariamente, com a altura representando tarefas não completadas e o comprimento representando os dias da Sprint. A queda das colunas indica progresso.</p>
                        <h2>Como o Burndown é utilizado?</h2>
                        <p>Durante as reuniões diárias, o S.M atualiza o Burndown Chart de acordo com o progresso do time, podendo mostrar o gráfico ao P.O. Isso permite uma visualização clara do andamento do trabalho e ajuda a garantir o sucesso da Sprint, o que torna o Burndown Chart um diferencial positivo do Scrum.</p>
                    </div>
                    <a href="/quiz/burndown"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
                </div>
    </div>
    <a href="/quiz/salvar_quiz/18_burndown" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}