{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 3</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/assunto18"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                <div class="container-assunto">
                    <br>
                    <h2>O que ocorre na Sprint Retrospective?</h2>
                    <p>Durante a Sprint Retrospective, a equipe Scrum revisa o que funcionou bem e pode ser mantido e o que pode ser aprimorado nas Sprints futuras. É o momento de discutir práticas, ferramentas e interações, com foco em encontrar soluções para problemas e implementar mudanças que aumentarão a eficiência e a qualidade do trabalho.</p>
                </div>
                <a href="/quiz/assunto19"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
            </div>
    </div>
    <a href="/quiz/salvar_quiz/19_assunto19" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}