{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 1{% endblock %}

{% block resumo %}
<div class="rounded-rectangle">
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 1</h1>
        <br>
        <h2>Assunto 1: O que é o Scrum?</h2>
        <p>Inicialmente, o Scrum foi pensado para ser aplicado apenas em projetos de desenvolvimento de software, mas atualmente é aplicado também em planos de outras naturezas.</p>
        <p>O Scrum trata-se de uma metodologia ágil criada com o intuito de auxiliar no processo de desenvolver projetos, produtos ou serviços. O principal objetivo por trás de seu uso é diminuir o tempo gasto, mas manter a qualidade do resultado.</p>
        <p>O Scrum abrange um conjunto de eventos, ferramentas e cargos que contribuem para uma entrega final eficiente, o desenvolvimento do autogerenciamento, o aprendizado com base nas experiências e a adaptação às mudanças.</p>
        <!--comentário-->
        <span class="button_quiz">
            <a href="/quiz/iniciar"><button class="button_avaliacao rounded-pill shadow-lg" id="button_previous"> << Anterior</button></a>
            <a href="/quiz/teste_vf"><button class="button_avaliacao rounded-pill shadow-lg" id="button_next">Próximo >></button></a>
        </span>
    </div>
</div>
    <a href="/quiz/salvar_quiz/1_o_que_e"><button class="button_parar_aqui rounded-pill shadow-lg">Salvar respostas</button></a>
{% endblock %}