{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 4{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 4</h1>
        <br>
        <h2>Assunto 3: Sprint Backlog</h2>
        <p>O Sprint Backlog é criado quando a equipe Scrum escolhe e define os itens do Product Backlog, dividindo-os em tarefas menores para criar as User Stories que deverão ser cumpridas durante a Sprint. A Meta da Sprint, compromisso do Sprint Backlog, é definida pelos Desenvolvedores e pelo P.O durante o Sprint Planning. Ela abrange as metas do Product Backlog que estiverem inclusas na Sprint atual e um plano para entregar o Incremento do Produto (soma de todos os itens completos em uma Sprint), representando o propósito da Sprint dentro do prazo determinado.</p>
        <a href="/quiz/assunto22"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto23"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/23_assunto23" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}