{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 5{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 5</h1>
        <div class="page_assunto_flex">
                <a href="/quiz/priorizacao"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                    <div class="container-assunto">
                        <br>
                        <h2>Priorização baseada em valor</h2>
                        <p>No Scrum, a priorização baseada em valor foca em entregar o máximo de valor ao cliente no menor tempo possível. Para determinar o valor de cada tarefa, o P.O considera diversos fatores, como benefícios para o usuário, retorno financeiro e alinhamento estratégico. As tarefas com maior valor são priorizadas para serem desenvolvidas primeiro, garantindo que a equipe esteja sempre focada nas funcionalidades mais importantes e impactantes.</p>
                    </div>
                    <a href="/quiz/valor"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
                </div>
     
    </div>
    <a href="/quiz/salvar_quiz/23_valor" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}