{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 4{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 4</h1>
         <div class="page_assunto_flex"></div>
                <a href="/quiz/assunto24"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                    <div class="container-assunto">
                        <br>
                        <h2>Como o Burndown é utilizado?</h2>
                        <p>Durante as reuniões diárias, o S.M atualiza o Burndown Chart de acordo com o progresso do time, podendo mostrar o gráfico ao P.O. Isso permite uma visualização clara do andamento do trabalho e ajuda a garantir o sucesso da Sprint, o que torna o Burndown Chart um diferencial positivo do Scrum.</p>
                    </div>
                    <a href="/quiz/assunto25"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
                </div>
    </div>
    <a href="/quiz/salvar_quiz/25_assunto25" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}