{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 4{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 4</h1>
        <br>
        <h2>Assunto 6: Definition of Done</h2>
        <p>No Scrum, as tarefas são consideradas "prontas" quando atendem à Definition of Done (DoD) estabelecida. A DoD é um acordo firmado entre a equipe que define os critérios para que uma tarefa seja considerada “finalizada”. Ela pode variar por produto, item de backlog, sprint, equipe ou projeto. Isso depende do contexto do desenvolvimento.</p>
        <a href="/quiz/assunto25"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto26"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/26_assunto26" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}