{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 6{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 6</h1>
        <div class="page_assunto_flex">
                <a href="/quiz/dependencias"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                    <div class="container-assunto">
                        <br>
                        <h2>Vantagens do Scrum (parte 1)</h2>
                        <p>O Scrum oferece várias vantagens que podem transformar as equipes de desenvolvimento e que fazem dele uma escolha poderosa para gerenciar projetos complexos. Uma dessas vantagens é a sua maior adaptabilidade. Equipes que adotam o Scrum têm a capacidade de se ajustar e responder de forma eficiente às mudanças que surgem durante o desenvolvimento do projeto. Isso é essencial em um ambiente em constante evolução, onde os requisitos e as prioridades podem mudar rapidamente.</p>
                        <p>Além disso, o Scrum promove a entrega incremental de valor por meio das Sprints. Ao dividir o trabalho em ciclos de desenvolvimento curtos e mensuráveis, partes do produto são entregues ao longo do tempo. Isso permite que os stakeholders tenham acesso a funcionalidades utilizáveis do produto de forma regular, possibilitando feedback contínuo e ajustes ao longo do caminho.</p>
                    </div>
                    <a href="/quiz/vantagens1"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
                </div>
    </div>
    <a href="/quiz/salvar_quiz/27_vantagens1" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}