{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 6{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 6</h1>
        <div class="page_assunto_flex">
                <a href="/quiz/vantagens2"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                    <div class="container-assunto">
                        <br>
                        <h2>Desvantagens do Scrum (parte 1)</h2>
                        <p>No entanto, é crucial manter em mente que qualquer sistema, método, framework ou ferramenta possui suas limitações. No caso do Scrum, uma delas refere-se ao fato de que os desafios na definição de prazos são evidentes. A flexibilidade do Scrum torna difícil prever prazos de conclusão, uma vez que as necessidades e requisitos podem mudar ao longo do tempo. Além disso, a exigência de autogestão é uma característica central do Scrum, o que pode representar um obstáculo para equipes sem experiência ou maturidade suficientes para lidar com essa responsabilidade.</p>
                    </div>
                    <a href="/quiz/desvantagens1"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
                </div>
    </div>
    <a href="/quiz/salvar_quiz/29_desvantagens1" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button>></a>
{% endblock %}