{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 1{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 1</h1>
        <br>
        <h2>Assunto 2: Pilares e Valores</h2>
        <p>Adotar os pilares e valores fundamentais do Scrum é essencial. Times que praticam o Scrum são bem-sucedidos quando internalizam esses conceitos e os aplicam em seu trabalho diário.</p>
        <p>Os <a href="#" data-bs-toggle="popover" data-bs-trigger="hover"  title="Conceito" data-bs-content="Transparência, inspeção e adaptação.">pilares</a> são os princípios fundamentais sobre os quais o Scrum foi desenvolvido. São eles que fazem a diferença e criam um ambiente propício para um trabalho realmente ágil, marcado pela eficiência e adaptabilidade. Enquanto isso, os <a href="#" data-bs-toggle="popover" data-bs-trigger="hover"  title="Conceito" data-bs-content="Comprometimento, coragem, foco, abertura e respeito.">valores</a> guiam as práticas e o comportamento das equipes que adotam essa metodologia ágil. Sem esses valores, trabalhar por meio do Scrum seria apenas executar movimentos sem a compreensão adequada do que é feito, sem agilidade e sem desfrutar dos benefícios da metodologia por completo.</p>
    
        <span class="button_quiz">        
            <a href="/quiz/teste_vf"><button class="button_avaliacao rounded-pill shadow-lg" id="button_previous"> << Anterior</button></a>
            <a href="/quiz/teste_associacao"><button class="button_avaliacao rounded-pill shadow-lg" id="button_next">Próximo >></button></a>
        </span>
    
    </div>
    <a href="/quiz/salvar_quiz/2_pilares_e_valores" style="position:fixed; bottom:20px; right:20px"><button class="button_avaliacao rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}