{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Assunto 2</h1>
        <h2>Conceitos fundamentais</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusamus ullam ab atque nemo? Odio veniam nisi iure alias mollitia rem! Velit quae nostrum tempore ad aperiam voluptatem quibusdam. Ullam.</p>
    
        <span class="button_quiz">        
            <a href="/quiz/o_que_e"><button class="botao_iniciar" id="button_previous"> << Anterior</button></a>
            <a href="/quiz/pilares_e_valores"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        </span>
    
    </div>
    <a href="/quiz/quiz_resultado_parcial/2_pilares_e_valores" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}