{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 5{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 5</h1>
        <br>
        <h2>Assunto 1: Introdução aos tipos de priorização</h2>
        <p>Para entregar valor de forma contínua, é muito importante manter os backlogs do produto e da sprint organizados, e, para isso, existem diversos modos de classificar as tarefas a serem realizadas.</p>
        <p>Um exemplo de técnica comumente aplicada para esse objetivo é a priorização, que pode ser baseada em valor, esforço, riscos ou dependências. Cada priorização possui sua relevância e deve ser utilizada de acordo com as necessidades e características do projeto em questão. Portanto, é importante que toda a equipe esteja alinhada na escolha e aplicação do tipo de priorização, visando sempre a eficiência e a obtenção dos melhores resultados para o produto e para o cliente.</p>
            
        <a href="/quiz/assunto30"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto31"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/31_assunto31" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}