{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 5{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 5</h1>
        <br>
        <h2>Assunto 3: Priorização baseada em riscos</h2>
        <p>Por sua vez, a priorização baseada em riscos visa identificar e abordar os maiores riscos de um projeto o mais cedo possível. Os riscos podem incluir incertezas técnicas, complexidades de implementação ou mudanças frequentes nos requisitos. Ao priorizar tarefas de alto risco, a equipe pode resolver esses desafios antecipadamente, reduzindo a probabilidade de problemas significativos mais tarde no projeto.</p>
            
        <a href="/quiz/assunto32"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto33"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/33_assunto33" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}