{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 5{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 5</h1>
        <br>
        <h2>Assunto 4: Priorização baseada em esforço</h2>
        <p>A priorização baseada em esforço, como o próprio nome sugere, foca na avaliação do esforço necessário para completar cada tarefa ou atividade do backlog. Nessa técnica de priorização, tarefas mais simples e que exigem menos esforço são priorizadas para serem desenvolvidas primeiro, permitindo que a equipe alcance rápidas vitórias e mantenha um ritmo constante de progresso. Essa abordagem ajuda a equipe a gerenciar melhor sua carga de trabalho e a evitar sobrecargas.</p>
            
        <a href="/quiz/assunto33"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto34"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/34_assunto34" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}