{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 3{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 1</h1>
        <br>
        <h2>Assunto 3: Produto e Sprints</h2>
        <p>O produto, no Scrum, refere-se ao resultado do trabalho da equipe de desenvolvimento, ou seja, à solução que a equipe está desenvolvendo para resolver um problema ou atender a uma necessidade específica do cliente. O tempo durante o qual a equipe trabalha para entregar um incremento do produto é chamado de Sprint, e cada uma costuma durar de uma a quatro semanas.</p>
    
        <a href="/quiz/teste_associacao"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto3"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/3_assunto3" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}