{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 1{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 1</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/assunto4"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                <div class="container-assunto">
                    <br>
                    <h2>Product Backlog</h2>
                    <p>O Product Backlog (ou Backlog do Produto) é uma lista de tarefas organizada e controlada pelo P.O, que prioriza o que mais importa para o produto. Durante a execução das Sprints, a equipe trabalha nesses afazeres conforme as prioridades definidas. As Sprints são repetidas até que o Product Backlog seja concluído e o Proprietário do Produto decida que o projeto está pronto.</p>
                </div>
                <a href="/quiz/assunto5"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
            </div>
        
    </div>
    <a href="/quiz/salvar_quiz/5_assunto5" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}