{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 5{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Assunto 5</h1>
        <h2>Conceitos fundamentais</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusamus ullam ab atque nemo? Odio veniam nisi iure alias mollitia rem! Velit quae nostrum tempore ad aperiam voluptatem quibusdam. Ullam.</p>
    
        <a href="/quiz/assunto4"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto5"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
{% endblock %}