{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
<div class="container mt-4">
    <div style="text-align:justify">
        <h1 id="quiz_title">Capítulo 2</h1>
        <div class="row d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-1">
                <a href="/quiz/papeis" class="mb-3 mb-md-0">
                    <button id="button_previous" class="btn arrow_assunto">&#9664;</button>
                </a>
            </div>
            <div class="col-9 container mx-2 my-2 box_question">
                <h2 class="text-center">Scrum Master</h2>
                <p>O Scrum Master atua como um facilitador, lidando com obstáculos que possam impedir o progresso da equipe, promovendo a comunicação eficaz entre os membros do time e assegurando que as cerimônias do Scrum sejam realizadas corretamente. Além disso, o S.M ajuda a proteger a equipe de interferências externas e pressões que possam comprometer a produtividade e a qualidade do produto. Apesar de poder ser chamado de “Coordenador do Projeto”, é importante ressaltar que o Scrum Master não pode assumir certas funções, como determinar o modo propício de cumprir o que deve ser feito e cobrar as entregas de final de ciclo do time.</p>
                </div>
            <div class="col-1">
                <a href="/quiz/master" class="mb-3 mb-md-0">
                    <button id="button_next" class="btn arrow_assunto">&#9654;</button>
                </a>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/quiz/salvar_quiz/7_master">
                <button class="button_parar_aqui rounded-pill shadow-lg">Salvar respostas</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}