{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 2</h1>
        <br>
        <h2>Assunto 2: Scrum Master</h2>
        <p>O Scrum Master atua como um facilitador, lidando com obstáculos que possam impedir o progresso da equipe, promovendo a comunicação eficaz entre os membros do time e assegurando que as cerimônias do Scrum sejam realizadas corretamente. Além disso, o S.M ajuda a proteger a equipe de interferências externas e pressões que possam comprometer a produtividade e a qualidade do produto. Apesar de poder ser chamado de “Coordenador do Projeto”, é importante ressaltar que o Scrum Master não pode assumir certas funções, como determinar o modo propício de cumprir o que deve ser feito e cobrar as entregas de final de ciclo do time.</p>
    
        <a href="/quiz/assunto6"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto7"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/7_assunto7" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}