{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 2</h1>
        <br>
        <h2>Assunto 3: Product Owner</h2>
        <p>O Product Owner, Proprietário do Produto, ou P.O, por sua vez, representa o responsável por maximizar o valor do produto e gerenciar o backlog dele. Suas principais funções são atuar como a voz do cliente, garantindo que a equipe de desenvolvimento esteja sempre alinhada com suas necessidades e prioridades, definir e priorizar os itens do backlog, assegurando que o time trabalhe nas tarefas mais importantes e entregue o maior valor possível em cada Sprint, esclarecer a visão do produto ao time e tomar decisões rápidas para ajustar o curso do desenvolvimento conforme o necessário.</p>
    
        <a href="/quiz/assunto7"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
        <a href="/quiz/assunto8"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        
    </div>
    <a href="/quiz/salvar_quiz/8_assunto8" style="position:fixed; bottom:20px; right:20px"><button class="botao_iniciar" id="parar_quiz">Parar aqui</button></a>
{% endblock %}