{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 2</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/assunto7"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                <div class="container-assunto">
                    <br>
                    <h2>Product Owner</h2>
                    <p>O Product Owner, Proprietário do Produto, ou P.O, por sua vez, representa o responsável por maximizar o valor do produto e gerenciar o backlog dele. Suas principais funções são atuar como a voz do cliente, garantindo que a equipe de desenvolvimento esteja sempre alinhada com suas necessidades e prioridades, definir e priorizar os itens do backlog, assegurando que o time trabalhe nas tarefas mais importantes e entregue o maior valor possível em cada Sprint, esclarecer a visão do produto ao time e tomar decisões rápidas para ajustar o curso do desenvolvimento conforme o necessário.</p>
                </div>
                <a href="/quiz/assunto8"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
            </div>
    </div>
    <a href="/quiz/salvar_quiz/8_assunto8" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}