{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 2{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Capítulo 2</h1>
            <div class="page_assunto_flex">
                <a href="/quiz/devteam"><button id="button_previous" class="arrow_assunto">&#9664;</button></a>
                <div class="container-assunto">
                    <br>
                    <h2>Utilidade dos papéis e stakeholders e clientes</h2>
                    <p>Dentro do ecossistema do Scrum, os papéis são como as engrenagens de uma máquina bem ajustada, cada um contribuindo para o funcionamento adequado dela com seus deveres específicos. Embora o Scrum Master, o Product Owner e o Dev Team sejam figuras centrais, há outros papéis que desempenham funções cruciais, como <a href="#" data-bs-toggle="popover" data-bs-trigger="hover"  title="Stakeholders" data-bs-content="Fornecem insights valiosos e feedback ao longo do processo, garantindo que as necessidades e expectativas sejam atendidas.">stakeholders</a> e <a href="#" data-bs-toggle="popover" data-bs-trigger="hover"  title="Clientes" data-bs-content="Definem os requisitos do produto e validam o trabalho concluído.">clientes</a>. Esses papéis, embora menos proeminentes, são igualmente importantes para o sucesso geral do Scrum.</p>
                </div>
                <a href="/quiz/stakeholders_clientes"><button id="button_next" class="arrow_assunto">&#9654;</button></a>
            </div>
    </div>
    <a href="/quiz/salvar_quiz/8_stakeholders_clientes" style="position:fixed; bottom:20px; right:20px"><button class="button_parar_aqui rounded-pill shadow-lg" id="parar_quiz">Salvar respostas</button></a>
{% endblock %}