{% extends "/quiz/base_quiz.html" %}

{% block title %}Revisão Capítulo 1{% endblock %}

{% block resumo %}
    <div class="quiz_page">
        <h1 id="quiz_title">Assunto 1</h1>
        <h2>Conceitos fundamentais</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem accusamus ullam ab atque nemo? Odio veniam nisi iure alias mollitia rem! Velit quae nostrum tempore ad aperiam voluptatem quibusdam. Ullam.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde enim reiciendis recusandae laborum. Aliquam modi ipsa tenetur. Vitae, hic. Soluta illo nobis veritatis <a href="#" data-bs-toggle="popover" data-bs-trigger="hover"  title="conceito" data-bs-content="breve explicação de termo ou conceito">quibusdam</a> itaque sit, omnis porro aspernatur nemo.</p>
        <!--comentário-->
        <span class="button_quiz">        
            <a href="/quiz/iniciar"><button class="botao_iniciar" id="button_previous"><< Anterior</button></a>
            <a href="/quiz/quiz_assunto1"><button class="botao_iniciar" id="button_next">Próximo >></button></a>
        </span>
    </div>
{% endblock %}