<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block script %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_responsivo.css')}}">

    <title>{% block title %}Quiz{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="/static/images/logo-nova-ma.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap" rel="stylesheet">
</head>


<body class="body_quiz d-flex flex-column min-vh-100">
    <!-- cabeçalho -->


    <header class="link_bar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasmenu"
                    id="originalButton" style="color:white; font-size:30px">
                    &#9776
                </button>
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive"
                    id="alternateButton" style="color:white; font-size:30px">
                    &#9776
                </button>
                <a class="navbar-brand" href="/"><img src="/static/images/logo-nova-ma.png" alt="logo"></a>

                <button class="btn circle navbar-toggler bg-light" type="button" {% if current_user.is_authenticated %}
                    data-bs-toggle="modal" data-bs-target="#modal_user" {% else %} data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasUser" {% endif %} style="height:50px; width:50px">
                    <img src="/static/images/user_button.svg" style="height:40px">
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto my-auto" style="align-items: center;">
                        <li class="nav-item"><a class="nav-link text-light" href="/quiz" alt="quiz">QUIZ</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="/apostila" alt="apostila">APOSTILA</a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-light" href="/ferramentas"
                                alt="ferramentas">FERRAMENTAS</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="/avaliacao"
                                alt="avaliação">AVALIAÇÃO</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="/pacer" alt="pacer">PACER</a></li>
                        &nbsp&nbsp
                        {% if current_user.is_authenticated %}
                        <li class="navbar-item">
                            <button class="btn circle btn-light bg-light" type="button" data-bs-toggle="modal"
                                data-bs-target="#modal_user" style="height:50px; width:50px">
                                <img src="/static/images/user_button.svg" style="height:40px">
                            </button>
                        </li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link text-light" href="#" data-bs-toggle="modal"
                                data-bs-target="#modal_signup">Fazer cadastro</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="#" data-bs-toggle="modal"
                                data-bs-target="#modal_login">Fazer Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="header_hr">
    </header>


    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasmenu"
        aria-labelledby="offcanvasmenuLabel" style="background-color: #39444b; color:white;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" style="font-family:'Ruda'">Mestre Ágil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="indice">
                <h5>Índice</h5>
                <ol>
                    {% for key, value in perguntas.items() %}
                    {% if key != "result" %}
                    <li><a href="{{value[3]}}">{{value[2]}}</a></li>
                    <br>
                    {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasResponsive"
        aria-labelledby="offcanvasResponsiveLabel" style="background-color: #39444b; color:white;">
        <div class="offcanvas-header" data-bs-theme="dark">
            <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Mestre Ágil</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-light" href="/quiz" alt="quiz">QUIZ</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/apostila" alt="apostila">APOSTILA</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/ferramentas"
                        alt="ferramentas">FERRAMENTAS</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/avaliacao" alt="avaliação">AVALIAÇÃO</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/pacer" alt="pacer">PACER</a></li>
            </ul>
            <div class="indice">
                <br>
                <!-- Botão dropdown -->
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Índice
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                        style="background-color :#39444b; width:90%; ">
                        <!-- construção do indice com loop pelo arquivo json -->
                        <ol class="text-light">
                            {% for key, value in perguntas.items() %}
                            {% if key != "result" %}
                            <li><a href="{{value[3]}}">{{value[2]}}</a></li>
                            <br>
                            {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUser" aria-labelledby="offcanvasUserLabel"
        style="background-color: #39444b; color:white; width:180px">
        <div class="offcanvas-header" data-bs-theme="dark">
            <h5 class="offcanvas-title" id="offcanvasUserLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="indice">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link text-light" href="#" data-bs-toggle="modal"
                            data-bs-target="#modal_signup">Fazer cadastro</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="#" data-bs-toggle="modal"
                            data-bs-target="#modal_login">Fazer Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="text-light">
        <div class="modal" id="modal_login">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark">

                    <!-- Modal Header -->
                    <div class="modal-header" data-bs-theme="dark">
                        <h4 class="modal-title">Faça login</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body container">
                        <div class="row">
                            <div id="modal_login_form">
                                <form action="/login" method="post">
                                    <label for="username">Username:<br>
                                        <input type="text" id="username" name="username" required></label>
                                    <label for="password">Senha:<br>
                                        <input type="password" id="password" name="password" required></label>
                                    <div class="modal-footer">
                                        <a><button class="btn btn-light" type="submit">Login</button></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- signup Modal -->
        <div class="modal" id="modal_signup">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark">

                    <!-- Modal Header -->
                    <div class="modal-header" data-bs-theme="dark">
                        <h4 class="modal-title">Faça seu cadastro</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body container">
                        <div class="row">
                            <div class="col" id=modal_signup_form>
                                <form action="/signup" method="post">
                                    <label for="username">Username:<br>
                                        <input type="text" id="username" name="username" required></label>

                                    <label for="name">Nome:<br>
                                        <input type="text" id="name" name="name" required></label>

                                    <label for="email">e-mail:<br>
                                        <input type="email" id="email" name="email" required></label>

                                    <label for="password">Senha:<br>
                                        <input type="password" id="password" name="password" required></label>

                                    <label for="confirm_password">Confirme sua senha:<br>
                                        <input type="password" id="confirm_password" name="confirm_password"
                                            required></label>

                                    <div class="modal-footer">
                                        <a href="/signup"><button class="btn btn-light"
                                                type="submit">Signup</button></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if current_user.is_authenticated %}
    <!-- User Modal -->
    <div class="modal fade" id="modal_user">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">

                <!-- Modal Header -->
                <div class="modal-header" data-bs-theme="dark">
                    <h4 class="modal-title" style="color:white">{{user_data[0]}}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body container" style="color:black">
                    <h4 class="modal-title" style="color:white">USERNAME: {{current_user.id}}</h4><br>
                    <h4 class="modal-title" style="color:white">E-MAIL: {{user_data[1]}}</h4><br>
                    <br>
                    {% if is_admin %}<a href="/admin">
                        <buton class="btn btn-secondary w-100">Acessar página de administrador</buton>
                    </a><br>{% endif %}<br>
                    <a href="/quiz/{{continuar}}"><button class="btn btn-light w-100">continuar de onde eu
                            parei</button></a><br>
                    <br>
                    <a href="/quiz/resultado_parcial"><button class="btn btn-light w-100">conferir meus
                            resultados</button></a><br>
                    <br>
                    <a href="/user"><button class="btn btn-light w-100">Meu perfil</button></a><br>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <a href="/logout"><button class="btn btn-light" type="submit">Logout</button></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% block head_image %}<div class="head_img" style="background-image:url(/static/images/image-quiz.png); background-position:center; background-size: contain; background-repeat: no-repeat;"></div> {% endblock %}

    {% block resumo %}
    {% endblock %}

    {% block quiz %}
    {% endblock %}

    {% block resultado %}
    {% endblock %}
    <!-- <br><br>
    <div class="text-center mt-4">
        <a href="/quiz/salvar_quiz/{{pagina_atual}}">
            <button class="button_parar_aqui rounded-pill shadow-lg">Salvar respostas</button>
        </a>
    </div> -->
    <br><br><br><br>
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <img src="/static/images/logo-nova-ma.png" style="height:100px">
                    <p>Nossa plataforma oferece materiais detalhados sobre a metodologia ágil Scrum, ajudando profissionais a aprimorarem suas habilidades em gerenciamento de projetos.</p>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <img src="https://github.com/Titus-System/1Semestre-ADS/raw/5aaa1b580cbe7d8a66140fdc0de0b304689fa11f/docs/images/logo_empresa.png" style="height: 65px;">
                    <h5>Titus Systems</h5>
                    <p>Convidamos você a explorar nossas soluções e descobrir como podemos ajudar sua empresa a alcançar novos patamares de sucesso.</p>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <h5>Contato</h5>
                    <p>Email: contato@mestreagil.com</p>
                    <p>Telefone: (12) 99999-9999</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://github.com/Titus-System/1Semestre-ADS" target="_blank"><img src="https://img.icons8.com/ios-filled/24/ffffff/github.png" alt="GitHub"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <p class="mb-0">&copy; 2024 Mestre Ágil. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script>
        // Função para verificar o tamanho da tela e alternar os botões
        function alternarBotoes() {
            // Verifica o tamanho da tela
            var screenWidth = window.innerWidth;
            // Seleciona os botões
            var originalButton = document.getElementById('originalButton');
            var alternateButton = document.getElementById('alternateButton');

            // Se a largura da tela for menor que 1000 pixels, exibe o botão alternativo e oculta o original
            if (screenWidth < 1000) {
                originalButton.style.display = 'none';
                alternateButton.style.display = 'block';
            } else {
                // Caso contrário, exibe o botão original e oculta o alternativo
                originalButton.style.display = 'block';
                alternateButton.style.display = 'none';
            }
        }
        // Chama a função quando a página é carregada e sempre que a janela é redimensionada
        window.addEventListener('load', alternarBotoes);
        window.addEventListener('resize', alternarBotoes);
    </script>
    <script>
        document.getElementById('enviar_resposta').addEventListener('click', function() {
            document.getElementById('pergunta').submit();
        });
      </script>
</body>

</html>