{% extends "/quiz/base_quiz.html" %}

{% block title %}Iniciar Quiz{% endblock %}


{% block head_image %}
        <div class="head_img" style="background-image:url(/static/images/image-quiz.png); background-position:center; background-size: contain; background-repeat: no-repeat;"></div>
{% endblock %}

{% block resumo %}
<!-- <div class="quiz_page">
    <br>
    <h1 id="quiz_title">Entenda o Scrum de forma prática</h1>
    
    <br>
    <div class="quiz_intro">
    <img class="quiz_image" src="{{url_for('static', filename='images/quiz_iniciar.png')}}">
    <div class="quiz_text">
        <h3 class="quiz_subtitle">Faça o quiz completo</h3>
        <p class="quiz_subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit sequi minima eius labore quos architecto
            voluptas dolores quia odit et, similique placeat accusantium, aperiam sed autem provident. Error, veniam
            ipsa.</p>
        <br>
       
        <br>
    </div>
    </div>
</div> -->

<!-- <div class="container mt-5">
    
    <br>
    <div class="d-flex justify-content-center">

      <div class="circle_1"><strong class="number_circle">1°</strong><br >
      <h3><strong>LEIA SOBRE O ASSUNTO</strong></h3></div>

      <div class="arrow"></div>

      <div class="circle_2"><strong class="number_circle">2°</strong><br>
        <h3><strong>RESPONDA AS QUESTÕES</strong></h3></div>

      <div class="arrow"></div>

      <div class="circle_3"><strong class="number_circle">3°</strong><br>
        <h3><strong>CONFIRA SEUS RESULTADOS</strong></h3></div>

        <div class="arrow"></div>

      <div><a href="/quiz/1_o_que_e"><button class="button_home_page_quiz rounded-pill">Iniciar Quiz >></button></a></div> 

    </div>

  </div> -->
  
  <!-- teste -->

  <div class="timeline">
    <div class="step">
      <div class="circle">1°</div>
      <div class="step-content"><strong>LEIA SOBRE O ASSUNTO</strong></div>
    </div>

    <div class="arrow"></div>

    <div class="step">
      <div class="circle">2°</div>
      <div class="step-content"><strong>RESPONDA AS QUESTÕES</strong></div>
    </div>

    <div class="arrow"></div>

    <div class="step">
      <div class="circle">3°</div>
      <div class="step-content"><strong>CONFIRA SEUS RESULTADOS</strong></div>
    </div>

    <div class="arrow"></div>

    <div class="step"><a href="/quiz/1_o_que_e"><button class="button_home_page_quiz rounded-pill shadow-lg">Iniciar Quiz >></button></a></div>


  </div>
  

{% endblock %}