{% extends "/quiz/base_quiz.html" %}
{% block quiz %}

<div class="quiz_page">
  <!-- inicio da pagina -->
  <br>
  <h1 id="quiz_title" style="font-size: 50px;">Pergunta {{num_quest}}</h1>
  <br>
  <img class="icone" src="{{url_for('static', filename='images/icone-interrogacao.png')}}">
  <!--inicio do formulario-->
  <div class="question_box row">
    <div class="col-2">
      <a href="{{anterior}}"><button class="arrow_assunto" id="button_previous">&#9664;</button></a>
    </div>

    <div class="col-8">
      <form action="/quiz/{{pagina_atual}}" method="POST" id="pergunta">
        <div class="question_box_1">
          <br>
          <br>
          <div class="engrenagens-div">
            &#160&#160<img class="engrenagem" src="{{url_for('static', filename='images/engrenagem.png')}}">&#160&#160
            <p class="question_script">{{questao[6]}}</p>
            &#160&#160<img class="engrenagem" src="{{url_for('static', filename='images/engrenagem.png')}}">&#160&#160
          </div>
          <br>
        </div>

        <!-- alternativas quiz -->
        <div class="quiz_option">
          <br>

          <div id="option_1" class="option_vf_or_as">
            (<input type="text" id="resposta_usuario_1" name="resposta_usuario_vf_1" class="input_vf">)<label>&nbsp;&nbsp;
              {{questao[7]}}</label>
          </div>
          <br>
          <div id="opção_2" class="option_vf_or_as">
            (<input type="text" id="resposta_usuario_2" name="resposta_usuario_vf_2" class="input_vf">)<label>&nbsp;&nbsp;
              {{questao[8]}}
            </label>
          </div>
          <br>
          <div id="opção_3" class="option_vf_or_as">
            (<input type="text" id="resposta_usuario_3" name="resposta_usuario_vf_3" class="input_vf">)<label>&nbsp;&nbsp;
              {{questao[9]}}
            </label>
          </div>
          <br>
          <div id="opção_3" class="option_vf_or_as">
            (<input type="text" id="resposta_usuario_4" name="resposta_usuario_vf_4"
              class="input_vf">)<label>&nbsp;&nbsp;{{questao[10]}}</label>
          </div>
          <br>
        </div>

        <!-- botão dica -->
        <br>
        <br>
        <div>
          <button tabindex="0" type="button" class="btn_ns" role="button" data-bs-toggle="popover"
            data-bs-trigger="focus" title="dica..." data-bs-content="{{questao[11]}}">
            Não sei responder...
          </button>
          <br>
          <br>
          <br><br>
        </div>
    </div>
    </form>
    <div class="col-2"><button type="button" id="enviar_resposta" class="arrow_assunto"
        id="button_next">&#9654;</button>
    </div>
  </div>
  <!--fim do formulario-->
</div>
<script>
  document.getElementById('enviar_resposta').addEventListener('click', function() {
      document.getElementById('pergunta').submit();
  });
</script>
{% endblock %}