{% extends '/quiz/base_quiz.html' %}

{% block title %} Página Quiz {% endblock %}
{% block quiz %}
<div class="quiz_page">

    <!-- modal que será acionado se o usuário não responder a questão -->
    <!-- <div id="myModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">A questão não foi respondida!&nbsp&nbsp</h5>
                <button type="button" class="d-flex" data-bs-dismiss="modal">&times;</button></a>
              </div>
              <div class="modal-body">
                <p>Marque uma resposta para poder avançar. Se precisar de uma dica, selecione a opção "Não sei responder..."</p>
              </div>
          </div>
      </div>
    </div> -->

  

  <!-- inicio da pagina -->
  <br>
  <h1 id="quiz_title" style="font-size: 50px;">Pergunta {{num_quest}}</h1>
  <br>
  <img class="icone" src="{{url_for('static', filename='images/icone-interrogacao.png')}}">
    <!--inicio do formulario-->
    <form action="/quiz/{{pagina_atual}}" method="POST">
      <div class="question_box">

              <div class="question_box_1">

                <br>
                <br>
                <div class="engrenagens-div">
                  &#160&#160<img class="engrenagem" src="{{url_for('static', filename='images/engrenagem.png')}}">&#160&#160
                <p class="question_script">{{questao[1]}}</p>
                &#160&#160<img class="engrenagem" src="{{url_for('static', filename='images/engrenagem.png')}}">&#160&#160
                </div>
                <br>
              </div> 

                <div class="quiz_option">
                  <br>
                    <input type="radio" class="quiz-alternativa" id="A{{num_quest}}" name="resposta_{{num_quest}}" value="A">
                    <label for="A{{num_quest}}" class="quiz-alternativa-1"><h6>{{questao[2]}}</h6></label>
                    <br>
                    <br>
                    <input type="radio" class="quiz-alternativa" id="B{{num_quest}}" name="resposta_{{num_quest}}" value="B">
                    <label for="B{{num_quest}}" class="quiz-alternativa-1"><h6>{{questao[3]}}</h6></label>
                    <br>
                    <br>
                    <input type="radio" class="quiz-alternativa" id="C{{num_quest}}" name="resposta_{{num_quest}}" value="C">
                    <label for="C{{num_quest}}" class="quiz-alternativa-1"><h6>{{questao[4]}}</h6></label>
                    <br>
                    <br>
                    <input type="radio" class="quiz-alternativa" id="D{{num_quest}}" name="resposta_{{num_quest}}" value="D">
                    <label for="D{{num_quest}}" class="quiz-alternativa-1"><h6>{{questao[5]}}</h6></label>  
                    <br>
                  </div>

                  <!-- botão dica -->
                  <br>
                  <br>
                  <div class="btn_ns">
                  <button tabindex="0" type="button" class="btn" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="dica..." data-bs-content="{{questao[7]}}" style="float:right">
                    Não sei responder...
                  </button>
                </div>
                  <br>
              </div>
            <br>
      <br><br>
      <a href="/quiz/{{proxima}}"><button class="button_avaliacao rounded-pill shadow-lg" id="button_next">Próximo  >></button></a>  
    </form>
    <a href="/quiz/{{anterior}}"><button class="button_avaliacao rounded-pill shadow-lg" id="button_previous"><<  Anterior</button></a>
    <!--fim do formulario-->

</div>
</div>

<script src="{{sem_resposta}}"></script>
<script>
  	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
{% endblock %}