{% extends '/quiz/base_quiz.html' %}

{% block title %} Página Quiz {% endblock %}
{% block quiz %}
<div class="quiz_page">

    <h1 id="quiz_title">Quiz {{num_quest}}</h1>


    <!--inicio do formulario-->

    <form action="/verificar_respostas/{{verificar}}" method="POST">

            <div class="question_box">
                <h3 class="num_question">Questão {{num_quest}}</h3>

                <p class="question_script">{{questao[0]}}</p>

                <div class="quiz_option">
                    <input type="radio" id="A{{num_quest}}" name="resposta{{num_quest}}" value="A">
                    <label for="A{{num_quest}}">{{questao[1]}}</label>
                    <br>
                    <input type="radio" id="B{{num_quest}}" name="resposta{{num_quest}}" value="B">
                    <label for="B{{num_quest}}">{{questao[2]}}</label>
                    <br>
                    <input type="radio" id="C{{num_quest}}" name="resposta{{num_quest}}" value="C">
                    <label for="C{{num_quest}}">{{questao[3]}}</label>
                    <br>
                    <input type="radio" id="D{{num_quest}}" name="resposta{{num_quest}}" value="D">
                    <label for="D{{num_quest}}">{{questao[4]}}</label>
                </div>
            </div>
            <br>
        <button type="submit" value="submit" class="submit">Verificar respostas</button>
        <br>
    </form>
    <br><br>
    <span class="button_quiz">
        <a href="/quiz/{{anterior}}"><button class="botao_iniciar" id="button_previous"><<  Anterior</button></a>
        <a href="/quiz/{{proxima}}"><button class="botao_iniciar" id="button_next">Próximo  >></button></a>
    </span>
    <!--fim do formulario-->
    
    <br><br>
    <!-- Botão para acionar modal -->
    <button type="submit" class="submit" data-bs-toggle="modal" data-bs-target="#ExemploModalCentralizado">
        Abrir modal de demonstração
      </button>
  <!-- Modal -->
  <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">verificação</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar" style="background-color: black; color:white; flex:right">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          texto que será exibido dentro do modal
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>


    <div class="paginacao">
        <a href='{{anterior}}' title="página anterior">&#11207;</a>
        {% for n in range(1, 7) %}
        <a href="/quiz/capitulo{{n}}" title="capítulo {{n}}">{{n}}</a>{% if n!= 6 %} |
        {% endif %}
        {% endfor %}
        <a href="{{proxima}}" title="próxima questão">&#11208;</a>
    </div>


</div>
{% endblock %}