{% extends '/quiz/base_quiz.html' %}

{% block title %} Página Quiz {% endblock %}
{% block quiz %}
<div class="quiz_page">

    <h1 id="quiz_title">Quiz {{num_quest}}</h1>


    <br>
    <!--inicio do formulario-->

    <form action="/salvar_respostas/{{verificar}}" method="POST">

            <div class="question_box">
                <h3 class="num_question">Questão {{num_quest}}</h3>

                <p class="question_script">{{questao[0]}}</p>

                <div class="quiz_option">
                    <input type="radio" id="A{{num_quest}}" name="resposta{{num_quest}}" value="A">
                    <label for="A{{num_quest}}">{{questao[1]}}</label>
                    <br>
                    <input type="radio" id="B{{num_quest}}" name="resposta{{num_quest}}" value="B">
                    <label for="B{{num_quest}}">{{questao[2]}}</label>
                    <br>
                    <input type="radio" id="C{{num_quest}}" name="resposta{{num_quest}}" value="C">
                    <label for="C{{num_quest}}">{{questao[3]}}</label>
                    <br>
                    <input type="radio" id="D{{num_quest}}" name="resposta{{num_quest}}" value="D">
                    <label for="D{{num_quest}}">{{questao[4]}}</label>  
                  </div>

                  <!-- botão dica -->
                  <button tabindex="0" type="button" class="btn" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="dica..." data-bs-content="{{questao[6]}}" style="float:right">
                    Não sei responder...
                  </button>
                  <br>
            </div>
            <br>
            <!-- <button type="submit" value="submit" class="submit">Verificar respostas</button>
        <br> -->

        <!-- Botão para acionar modal -->
        <button type="button" class="submit" data-bs-toggle="modal" data-bs-target="#ExemploModalCentralizado">
            Salvar resposta
          </button>
        <!-- Modal -->
        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">verificação</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar" style="background-color: black; color:white; flex:right">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Salvar resposta e ir para a próxima página?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" value="submit" class="btn btn-primary">Salvar e seguir</button>
              </div>
            </div>
          </div>
        </div>
      <!-- fim do modal -->

    </form>
    <!--fim do formulario-->

    <br><br><br>
        <a href="/quiz/{{anterior}}"><button class="botao_iniciar" id="button_previous"><<  Anterior</button></a>
        <a href="/quiz/{{proxima}}"><button class="botao_iniciar" id="button_next">Próximo  >></button></a> 
    <br><br>
</div>
{% endblock %}