{% extends "/quiz/base_quiz.html" %}
{% block quiz %}
<br>
<br>
<!-- Colocando número "2" apenas para apresentação da sprint 3 -->
<h1 id="quiz_title" style="font-size: 50px;">Pergunta 2</h1> 
<br>
<img class="icone" src="{{url_for('static', filename='images/icone-interrogacao.png')}}">
<div class="question_box">
<div class="question_box_vf_or_as">
  <br>
  <br>
  <div class="engrenagens-div">&nbsp;&nbsp;<img class="engrenagem" src="/static/images/engrenagem.png"> &nbsp;&nbsp;
<p class="question_script">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo, velit eget volutpat volutpat, nibh nisi fermentum nisl, non volutpat nunc massa non massa. Sed vel imperdiet velit.</p>
&nbsp;&nbsp;<img class="engrenagem" src="/static/images/engrenagem.png"> &nbsp;&nbsp;
</div>
<br>
</div>
<br>
<br>
<div class="columns">
    <div class="column">
      <div class="opção">
        <form action="/quiz/teste_associacao" method="post">
       <p><strong>(&nbsp;1&nbsp;)&nbsp;&nbsp;Statement 1</strong></p>
      </div>
      <div class="opção">
       <p><strong>(&nbsp;2&nbsp;)&nbsp;&nbsp;Statement 2</strong></p>
      </div>
      <div class="opção">
       <p><strong>(&nbsp;3&nbsp;)&nbsp;&nbsp;Statement 3</strong></p>
      </div>
      <div class="opção">
        <p><strong>(&nbsp;4&nbsp;)&nbsp;&nbsp;Statement 4</strong></p>
       </div>
    </div>
    <div class="column">
      <div id="opção_1">
        (<input type="text" id="resposta_usuario_1" name="resposta_usuario_1" class="input_as">)<label>&nbsp;&nbsp;Statement 4</label>
      </div>
      <div id="opção_2">
        (<input type="text" id="resposta_usuario_2" name="resposta_usuario_2" class="input_as">)<label>&nbsp;&nbsp;Statement 5</label>
      </div>
      <div id="opção_3">
        (<input type="text" id="resposta_usuario_3" name="resposta_usuario_3" class="input_as">)<label>&nbsp;&nbsp;Statement 6</label>
      </div>
      <div id="opção_4">
        (<input type="text" id="resposta_usuario_4" name="resposta_usuario_4" class="input_as">)<label>&nbsp;&nbsp;Statement 7</label>
      </div>
    </div>
  </div>
  <br>
  <br>
  <input type="submit" value="Submit" class="submit_vf_or_as">
</form>
</div>
{% endblock %}
