{% extends "/pacer/base_pacer.html" %}


{% block title %}Feedback{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="body_feed">
    <div class="form-container">
        <h1 class="h1_feed">Feedback</h1>
        <form action="/feedback" method="POST" id="evaluation-form">
            <label for="rating">De 1 a 5, o que você achou do curso Mestre Ágil?</label>
            <div class="rating">
                <input type="radio" name="star" id="star5" value="5"><label for="star5"></label>
                <input type="radio" name="star" id="star4" value="4"><label for="star4"></label>
                <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
                <input type="radio" name="star" id="star2" value="2"><label for="star2"></label>
                <input type="radio" name="star" id="star1" value="1"><label for="star1"></label>
            </div>
            <label for="suggestion">Gostaria de nos deixar uma sugestão? Escreva no espaço abaixo:</label>
            <textarea id="suggestion" name="suggestion" rows="4" placeholder="Sua sugestão..."></textarea>
            <button class="button_feedback" type="submit" onclick="submitForm()" value="submit">Enviar Feedback</button>
        </form>
        <div id="result"></div>
    </div>
</div>
{% endblock %}