{% extends 'base_teoria.html' %}

{% block title %}Artefatos{% endblock %}

{% block head_image %}
<div class="head_img" style="background-image:url(/static/images/icones.png); background-position:center; background-size:contain;"></div>
{% endblock %}

{% block content %}
<div class="conteudo_teoria">
    <h1>Artefatos SCRUM (Artifacts)</h1>
    <p>São as ferramentas básicas para se trabalhar com o modelo Scrum. Estes artefatos servem como guias e indicadores durante o processo.</p>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sJtDuC4AhoI?si=4-Iz6tX-EVY4zyAm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <h2 id="pb">Backlog do Produto (Product Backlog)</h2>
    <p>Dentro do Scrum, o Product Backlog é o ponto de partida do qual todas as práticas e ferramentas da metodologia partem e para o qual todas retornam.</p>
    <p>É a lista de funcionalidades que devem fazer parte do produto preparada pelo Proprietário do Produto em conjunto com o cliente. A equipe SCRUM também contribui para sua organização, estimando o custo do desenvolvimento das funcionalidades. O Product Backlog deve incluir todas as funções visíveis ao cliente, mas também os requisitos técnicos para poder desenvolver o produto.</p>
    <ol>
        <li><strong>História do Usuário (User Story)</strong>
            <p>É um formato sucinto de escrita dos requisitos necessários para a construção de um produto que deve ser compreensível para os clientes e consumidores. Em outras palavras, é a forma de representar as tarefas do Product Backlog. Cada User Story (história do usuário) representa um único item do Product Backlog.</p>
            <p>Modelo: Como um < ator >, quero/preciso de/gostaria de < ação > para que < objetivo >.</p>
            <ul>
                <li><strong>Ator</strong>: É o proprietário da história, quem irá utilizar a funcionalidade ou requisito e espera que seu desejo seja atendido.</li>
                <br>
                <li><strong>Ação</strong>: É o que o ator quer que seja feito dentro do produto.</li>
                <br>
                <li><strong>Objetivo</strong>: É o que o ator espera que vá acontecer após a ação ser executada (também vista como uma justificativa).</li>
            </ul>
            <br>
        </li>
    </ol>

            <!--Exemplos Práticos BACKLOG DO PRODUTO-->
    <div class="card border-dark mb-3" style="max-width: 75rem;">
        <div class="card-header">Exemplos Práticos</div>
        <div class="card-body text-dark">
          <p class="card-text">"Como gerente, quero conseguir entender o progresso dos meus colegas, para que eu possa ter relatórios melhores dos nossos acertos e falhas."</p>
          <p class="card-text">"Como cliente, quero poder fazer compras online, para que eu possa economizar tempo e aproveitar a comodidade de receber os produtos em casa."</p>
        </div>
    </div>

    <ol>
        <br>
        <li><strong>Meta do Produto</strong></li>
        <p>O compromisso do Product Backlog é a Meta do Produto. Ela define um estado futuro para o produto. Trata-se do objetivo de longo prazo que o Time Scrum planeja-se para alcançar, um olhar para o produto como um todo.</p>
    </ol>
    <br>
    <h2 id="sb">Backlog da Sprint (Sprint Backlog)</h2>
    <p>Assim que a equipe de Scrum escolher e definir a lista de requisitos e a prioridade de seus itens do Product Backlog, cada um desses itens agora será dividido em partes menores para o Sprint Backlog. Ou seja, uma lista especificando os passos necessários para implementar uma funcionalidade do sistema.</p>
    <p>Logo após o Sprint Backlog estar concluído, o total de horas trabalhadas é comparado com o total previsto anteriormente no Product Backlog. Caso haja uma diferença significativa, a equipe SCRUM deve negociar novamente com o cliente o número correto de horas, para que o Sprint seja realizado com maior probabilidade de sucesso.</p>
    <ul>
        <li><strong>Meta da Sprint</strong></li>
            <dd>O compromisso do Sprint Backlog é a Meta da Sprint. Criada pelos Desenvolvedores e pelo P.O durante o Sprint Planning, ela refere-se ao conjunto de metas do Product Backlog selecionados para a Sprint do momento e a um plano para entregar o Incremento. Seu prazo é condicionado à duração da sprint. Em outras palavras, a meta da sprint esclarece o seu propósito durante a criação de um programa.</dd>
    </ul>
    
    <br>
    <br>
   
    <!--Exemplos Práticos BACKLOG SPRINT-->
    <div class="card border-dark mb-3" style="max-width: 75rem; background-color: #f4f3f3">
        <div class="card-header">Exemplos Práticos</div>
        <div class="card-body text-dark">
            <p class="card-text"><strong>Backlog da Sprint: Users Stories</strong></p>
            <p class="card-text"><strong>Descrição:</strong> Como um usuário, quero poder fazer login no sistema para acessar minhas informações pessoais.</p>
            <h5 class="card-title"><strong>Critérios de Aceitação:</strong></h5>
            <p class="card-text">O usuário deve poder inserir o nome de usuário e senha.</p>
            <p class="card-text">Deve haver uma validação dos campos obrigatórios.</p>
            <p class="card-text">Deve haver uma mensagem de erro para credenciais inválidas.</p>

            <h5 class="card-title"><strong>Tarefas</strong></h5>
            <p class="card-text">Criar a interface da página de login;</p>
            <p class="card-text">Implementar a validação dos campos;</p>
            <p class="card-text">Integrar com o sistema de autenticação;</p>
            <p class="card-text">Escrever testes unitários para a página de login.</p>
        </div>
    </div>
    
    <br>
    <br>
    
    <h2 id="incremento">Incremento do Produto</h2>
    <p>O Incremento do Produto representa a soma de todos os itens completos em uma Sprint. Ou seja, é a junção das funcionalidades "prontas" do produto.</p>
    <br>
    <h2 id="burndown">Gráfico de Burndown (Burndown Chart)</h2>
    <p>Durante as Sprints, a principal ferramenta de medição de desempenho é o Burndown Chart, que é uma das características mais especiais do SCRUM e que o torna um grande diferencial, no sentido positivo. Trata-se de um gráfico que é administrado pelo ScrumMaster e objetiva analisar se o grupo está adiantado, atrasado ou no prazo quanto ao desenvolvimento do software. Ele mostra a quantidade de trabalho cumulativo restante de um Sprint, dia por dia e, nele, a altura indica a quantidade de tarefas do Sprint Backlog não completadas, e o comprimento são os dias. Com isso, é possível visualizar facilmente se um trabalho está progredindo quando as colunas do gráfico vão caindo em sua altura. Se um ciclo de desenvolvimento, ou Sprint, tem a duração de 30 dias, haverão 30 colunas juntas. As colunas têm que diminuir ao longo do comprimento e antes ou até o dia n°30 não poderá haver colunas. Isso indicará que todas as tarefas foram completadas e a Sprint foi um sucesso.</p>
    <p>As reuniões diárias da Sprint garantem ao Scrum Master a capacidade de, dia a dia, ajustar o Burndown Chart, pois cada reunião é uma atualização do progresso do Dev Team. O mesmo gráfico pode ser mostrado para o Proprietário do Produto, para que ele possa verificar se tudo está correndo bem. Por essas razões, o Burndown Chart é um dos principais recursos de medição do processo de desenvolvimento e um diferencial para a metodologia SCRUM.</p>
    <br>
    <h2 id="dod">Definição de Pronto (Definition of Done - DoD)</h2>
    <p>Em um grupo Scrum, tarefas são consideradas “prontas” quando elas condizem com a DoD estabelecida pelo time. A Definition of Done (DoD) é um acordo entre o grupo que define os requisitos aos quais cada item do backlog que é produzido no Sprint Planning deve atender para ser dado como pronto.</p>
    <p>Embora isso varie significativamente para cada time Scrum, os membros do time devem ter um entendimento compartilhado do que significa o trabalho estar completo, assegurando a transparência. Esta é a “Definição de Pronto” para o Time Scrum e é usada para assegurar quando o trabalho está completo no incremento do produto.</p>
    <p>O DoD pode ser aplicado no sprint planning, além de poder ser estabelecido por backlog, por sprint, por equipe, por produto ou projeto etc, de acordo com o melhor cenário para o desenvolvimento do software.</p>
   


 <!--Exemplos Práticos DoD-->
    


    <p>Garantir que o uso da DoD está funcionando é responsabilidade de todos.</p>
    <ul>
        <li>O P.O. (product Owner) tem a responsabilidade de aceitar que apenas itens Done sejam dados como concluídos pelo Dev Team.</li>
        <li>O Dev Team tem a autonomia de somente aceitar itens Ready mas tem também a responsabilidade de entregá-los como itens Done.</li>
        <li>O SM (Scrum Master) tem a responsabilidade de garantir que o Scrum Team saiba do que se trata e está aplicando da forma correta.</li>
    </ul>
    <p>Todo o time tem a responsabilidade de garantir que haja uma DoD com a qual todos estejam de acordo, que ela esteja sendo usada de fato e que, a cada Sprint, ela seja revisitada para ajustes necessários.</p>
    <br>


    <h2 id="dor">Definição de Preparado (Definition of Ready)</h2>
    <p>No entanto, é necessário ter atenção para não confundir os conceitos de “Definition of Ready” e “Definition of Done”. Enquanto a DoD refere-se a tarefas que podem ser consideradas realizadas, a DoR trata-se de uma lista de requisitos que determinada tarefa precisa cumprir para que esteja apta a entrar no Backlog da Sprint. Ou seja, o termo refere-se a tarefas que podem entrar na lista de afazeres da sprint.</p>
    <br>
    <br>



    <!--Exemplos Práticos DoR-->
    <div class="card border-dark mb-3" style="max-width: 75rem; background-color: #f4f3f3">
        <div class="card-header">Exemplos Práticos</div>
        <div class="card-body">
          <p class="card-title"><strong>Exemplos de requisitos da DoR</strong></p>
          <p class="card-text"><strong>1.Valor para o Cliente/Usuário:</strong> A tarefa deve agregar valor ao cliente ou usuário final.</p>
          <p class="card-text"><strong>2.Definição Clara e Específica:</strong> A tarefa deve ser bem definida e específica.</p>
          <p class="card-text"><strong>3.Critérios de Aceitação Definidos:</strong> Deve haver critérios claros indicando quando a tarefa estará concluída.</p>
          <p class="card-text"><strong>4.Prioridade Definida:</strong> A prioridade da tarefa deve estar definida.</p>
          <p class="card-text"><strong>5.Divisível em Subtarefas:</strong> Se complexa, a tarefa deve ser dividida em subtarefas menores.</p>
          <p class="card-text"><strong>6.Critérios Técnicos e de Qualidade:</strong> Especificações técnicas e padrões de qualidade devem estar claros.</p>
          <p class="card-text"><strong>7.Teste e Validação:</strong> Deve incluir planos para testes e validações.
        </p>
        </div>
    </div>


    <br>
    <br>

    <h2 id="pp">Planning Poker</h2>
    <p>Também chamado de Scrum Poker, é uma estratégia usada em projetos ágeis que busca priorizar as tarefas e fazer estimativas do esforço que é exigido para executá-las. Cada membro da equipe de desenvolvimento recebe um conjunto de cartas com os valores de uma certa sequência, que irá determinar, ao final do jogo, uma estimativa para as fases do Product Backlog.</p>
    <p>A ferramenta utiliza, por padrão, o conceito de sequência de Fibonacci por meio de um baralho, mas o time também pode criar sua prórpia sequência baseada na Fibonacci para usar o Planning Poker. Em Fibonacci, o terceiro número da sequência sempre é a soma dos dois primeiros números. Por exemplo: 1,2,3,5,8,13,21,34 e assim por diante. </p>
    <p>Cada usuário pode ter seu próprio baralho impresso ou usar apps específicos de Planning Poker. Algumas cartas podem conter símbolos:</p>
    <ul>
        <li>Xícara de café: Significa que algum dos participantes gostaria de fazer uma pausa (algumas reuniões de planejamento demoram várias horas);</li>
        <li>Interrogação (?): Para eventuais dúvidas dos participantes;</li>
        <li>0.5 ou ⅕: Remete à uma pontuação de uma user story muito pequena (um pouco acima de 0).</li>
    </ul>
    <p>O P.O lê uma user story por rodada e os desenvolvedores avaliam sua complexidade e aguardam o momento certo para apresentar suas pontuações, dúvidas ou até mesmo solicitar uma pausa.</p>
    <br>
    <br>

            <!--Exemplos Práticos PLANNING POKER-->
   



</div>




{% endblock %}

{% block voltar %}/apostila/cerimonias{% endblock %}

{% block prox %}/apostila/priorizacao{% endblock %}

{% block highlight_4 %} class='paginacao_atual' {% endblock %}