{% extends 'base_teoria.html' %}

{% block title %}Cerimônias{% endblock %}

{% block head_image %}
<div class="head_img" style="background-image:url(/static/images/workplace.png); background-position:center; background-size:cover; background-repeat: no-repeat;"></div>
{% endblock %}

{% block content %}
<div class="conteudo_teoria">
    <h1>Cerimônias SCRUM (Ceremonies)</h1>
    <p>São eventos realizados entre os integrantes do time que têm como proposta principal ajudar o Scrum Master e o Product Owner a entender, acompanhar e auxiliar todos a alcançarem seus objetivos. As cerimônias do Scrum giram em torno da Sprint e em todas elas há um input (entrada de informações), um processamento (entendimento, discussão e tomada de decisão) e um output (saída de um plano).</p>
 
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bBuC3GL-XmI?si=7GznZHKzoKMDZXCd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h2 id="planejamento">Reunião de Planejamento de Sprint (Sprint Planning)</h2>
    <p>É o primeiro evento numa Sprint do Scrum, e seu objetivo é determinar o que pode ser entregue na Sprint que se inicia, e como o trabalho será feito. Os participantes são todos os membros do time. O primeiro passo para esse evento é realizado pelo P.O. quando ele desenvolve um plano para o projeto de software. Nesse plano, o P.O. trabalha interagindo com o cliente para definir todas as funcionalidades desejadas no produto. A partir desta lista, ele também deve definir a ordem de prioridade dos itens do plano de acordo com várias variáveis: valor de mercado, importância para o cliente, entre outras. A lista resultante desse processo é o “Product Backlog”.</p>
    <p>Na Reunião de Planejamento de Sprint, o ScrumMaster trabalha junto com o P.O. e a Equipe de Desenvolvimento para definir qual carga de tempo cada tarefa do Product Backlog terá. Isso ajuda o P.O. a definir prazos reais para o projeto e o habilita a poder verificar como está o andamento do projeto durante todo o período de desenvolvimento. Esta carga de tempo e esforço é definida de acordo com o tamanho do(s) time(s), horas disponíveis e o nível de produtividade do time.</p>
    <p>Quando as prioridades e os prazos são definidos, o ScrumMaster começa a trabalhar juntamente com a Equipe de Desenvolvimento para quebrar as tarefas divididas entre os integrantes da equipe de desenvolvimento de acordo com suas especialidades grandes em tarefas menores. Esta reunião de planejamento geralmente dura até 4 horas e é ela que define o Sprint Backlog, um dos artefatos SCRUM.</p>
    <p>Uma vez definido o Sprint Backlog, com a listagem de todas as tarefas, seus responsáveis e seus prazos, o processo de desenvolvimento começa.</p>
    <br>
    <br>

        <!--Exemplos Práticos SPRINT PLANNING-->
        <div class="card border-dark mb-3" style="max-width: 75rem;">
            <div class="card-header">Exemplos Práticos</div>
            <div class="card-body text-dark">
              <h5 class="card-title"><strong>Scrum Master</strong></h5>
              <p class="card-text">Garantir que cada um esteja desempenhando sua função corretamente ao decorrer do projeto, usando ferramentas como (Daily Scrum Meetings), revisões de atividade (Sprint Reviews) e reuniões de planejamento das atividades (Sprint Planning).</p>
            </div>
        </div>

    <br>
    <br>
    <h2 id="daylies">Reuniões Diárias SCRUM (Daylies)</h2>
    <p>São reuniões nas quais o ScrumMaster busca saber como está o projeto por meio da interação com o Scrum Team. É realizada uma reunião por dia durante a Sprint, e ela tem, aproximadamente, 15 minutos de duração. Durante a reunião, cada um dos membros responde as seguintes três perguntas:</p>
    <ol>
        <li>O que fizemos ontem?</li><br>
        <li>O que farei hoje?</li><br>
        <li>Quais impedimentos e dificuldades apareceram e aparecerão no caminho?</li>
    </ol>
    <p>O Scrum Master tem um papel muito importante nestas reuniões: ele terá que identificar todos os problemas ou novas tarefas que surgirem e planejar como estes serão resolvidos. Além do mais, ele terá, assim, uma visão completa do projeto, o que lhe garantirá a capacidade de gerenciar todas as sub-tarefas de cada Sprint e preencher o <a href="#" data-bs-toggle="popover" data-bs-trigger="hover"  title="conceito" data-bs-content="Um gráfico de burndown é uma ferramenta visual em projetos ágeis que mostra o trabalho restante versus o tempo disponível. O eixo X representa o tempo e o eixo Y, o trabalho restante. Inclui uma linha ideal de progresso e uma linha real atualizada regularmente. Isso ajuda a equipe a monitorar se estão no ritmo correto para concluir o trabalho no prazo.">Burndown Chart</a>.</p>
    <br>
    
    
    
    <h2 id="revisão">Reunião de Revisão da Sprint (Sprint Review)</h2>
    <p>É um evento realizado no fim do período da Sprint. Nessa reunião, unem-se o Scrum Team, o Scrum Master e o Product Owner (e convidados, caso este ache adequado, como o cliente ou acionistas do projeto). Esta reunião dura aproximadamente 4 horas.</p>
    <p>Na primeira parte da reunião, o resultado do Sprint é apresentado para o P.O, ou seja, tudo que foi desenvolvido durante o ciclo de desenvolvimento. As funcionalidades são revisadas e o valor do produto é definido. Depois de revisar todo este resultado, o P.O., então, define quais itens do Product Backlog foram completados na Sprint e discute com os membros da equipe e o cliente quais serão as novas prioridades. Este é o primeiro passo para criar uma nova Sprint, caso seja necessário, pois dessa primeira parte da reunião, um novo Product Backlog é gerado.</p>
    <p>Na segunda parte da reunião, o Scrum Master e o Scrum Team se reúnem e o Master revisa os altos e baixos do ciclo de desenvolvimento até o momento. O time conversa para saber o que foi bom (e pode melhorar ainda mais) e o que foi ruim durante o processo. Esta parte é, basicamente, um aprimoramento interno.</p>
    <p>Depois que a reunião é finalizada, a Sprint Retrospective acontece, permitindo que uma nova Sprint comece. O ciclo se repete até que o produto seja finalizado e o Product Backlog esteja limpo de pendências.</p>
    <br>
    <h2 id="retrospectiva">Reunião de retrospectiva da Sprint (Sprint Retrospective)</h2>
    <p>Enquanto o objetivo do Sprint Review é verificar necessidades de adaptações no produto, o Sprint Retrospective é o evento realizado para verificar necessidades de adaptações no processo de trabalho.</p>
    <p>Essa reunião é realizada logo após a reunião de revisão (após um pequeno intervalo de alguns minutos geralmente). Nela, a equipe apresenta os pontos que funcionaram na Sprint e os pontos nos quais houve problemas ou coisas que não surtiram efeito. Esse conteúdo é analisado pela equipe e monta-se um plano de melhorias para ser executado durante a próxima Sprint.</p>
    <p>É muito comum encontrar times que escolhem adotar a técnica Scrum mas, ao primeiro sinal de dificuldade, os integrantes eliminam a reunião de retrospectiva do seu processo, como se ela fosse perda de tempo. Apesar de não serem fáceis e demandarem tempo, comprometimento, energia e coragem do time, as Sprint Retrospectives são a única oportunidade que o time tem para avaliar como eles estão trabalhando juntos e como podem melhorar, processo fundamental para tornar as próximas sprints mais produtivas e o produto final mais agradável.</p>
    <p>Além dos fatores descritos acima, a retrospectiva é uma oportunidade para que os membros do time repensem seu comportamento e mindset diante do projeto. É um momento em que a confiança e a transparência devem prevalecer para que os pequenos problemas sejam resolvidos rapidamente e não virem uma grande dor de cabeça no futuro.</p>


                <!--Exemplos Práticos CERIMÔNIAS-->
    <div class="card border-dark mb-3" style="max-width: 75rem;">
        <div class="card-header">Exemplos Práticos</div>
        <div class="card-body text-dark">
          <h5 class="card-title"><strong>Sprint Retrospective</strong></h5>          
          <p class="card-text">"Não gostei do fato de demorarmos muito na realização da tarefa 'validação dos campos obrigatórios'."</p>
          <p class="card-text">"Gostei de como ficou o resultado da interface da página de login."</p>
          <p class="card-text">"Precisamos ajustar a data de entrega das tarefas para no mínimo dois dias antes do prazo final de cada Sprint."</p>
          <p class="card-text">"É necessário aumentar o tempo de realização das tarefas de alta prioridade, visto que demoram mais tempo para serem desenvolvidas e finalizadas."</p>
        </div>
    </div>






</div>
{% endblock %}

{% block voltar %}/apostila/papeis{% endblock %}

{% block prox %}/apostila/artefatos{% endblock %}


{% block highlight_3 %} class='paginacao_atual' {% endblock %}