/*QUIZ*/

/*pagina inicial quiz*/
@media screen and (max-width: 768px) {
   
    .quiz_page{
        display: block;
        background-image: none;
    }
    .head_img {
        width: 100vw;

    }
}

/*pagina exercicios quiz 1_o_que_e.html*/
@media screen and (max-width: 768px) {


    .timeline{
        display: block;
        margin: 2em 2em;
    }

    .page_assunto_flex{
        flex-direction: column-reverse;
        width: 100%;
        margin: 0%;
    }

    .quiz_page{
    width: 100%;
    }

    .container-assunto{
        background-color: black;
        border: solid 2px black;
        border-radius: 5%;
        padding: 2%;
        margin: 0;
        max-width: 100%;
        color: #ff695e;
        font-family: 'Ruda';
        font-size: 20px;
    }

    .arrow_assunto {
        font-size: 18px;
        padding: 8px 16px;
        display:inline;
        justify-items:;
    }

    .question_box_1{
        display: block;
        margin: 0%;
    }
}



.quiz_page{

}

.page_assunto_flex{

}

.container-assunto{

}

.arrow_assunto{
    
}

/*pagina exercicios quiz*/

/*AVALIAÇÃO*/

/*FERRAMENTAS*/

/*pagina inicial ferramentas*/
@media screen and (max-width: 760px) {

    .container-ferramentas-reverso{
        max-width: 800px;
        margin: 0 auto;
        padding: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .container-home-ferramentas{
        max-width: 800px;
        margin: 0 auto;
        padding: 25px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .img-home-ferramentas{
        max-width: 40%;
        height: auto;
     
     }


    .text-pagina-produto-sprint{
        margin-top: 20px;
        max-width: fit fit-content;
        font-size: 16px;
        text-align: justify;
      
    }
}

/*pagina product backlog ferramentas*/

@media screen and (max-width: 760px){
    
.img-pagina-sprint{
    max-width: 40%;
    height: auto;
 
 }
 
 .botao_pagina_ferramentas{
     width: 200px;
 }
 
 .container-sprint-ferramentas{
     max-width: 800px;
     margin: 0 auto;
     padding: 25px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }
 
 .container-sprint-imagem-botao{
     max-width: 800px;
     margin: 0 auto;
     padding: 25px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .text-pagina-produto-sobre{
    margin: 7% 5% 20% 5%;
    text-align: justify;
    font-size: 16px;
}
}



/*pagina sprint backlog ferramentas*/

/*pagina burndown ferramentas*/

/*APOSTILA*/

/*PACER*/

/*PAGINA LOGIN*/

/*PAGINA RESULTADOS*/

/*PAGINA ADM*/

/**/