.link_bar{
    height: 80px;
    background-color: #1f2a47;
    margin: 0 auto;
    position:sticky;
    top:0;
    z-index: 2;
    font-family:'Ruda'
}

.link_bar img{
    height:50px;
    line-height:center;
}

.indice a, .indice ul{
    text-decoration: none;
    color:white;
    list-style-type: square;
    font-size: 16px
}

.header_link a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    float:right;
    margin:25px 35px 0 0;
    line-height:center;
}

.header_hr{
    margin:0;
    border:5px solid #f0b267;
    background-color: #f0b267;
    opacity:1
}

.head_img{
    height:250px;
    background-color: #1f2a47;
    /* border: 2px solid white; */
}

.body_teoria{
    background-color: #e0e5e8;
    width: 100%;
    margin: 0 0 150px;
    font-family:'Ruda', 'Helvetica';
}

.conteudo_teoria{
    max-width:60%;
    margin: 30px auto;
    background-color: #e0e5e8;

}

.conteudo_teoria p{
    text-align: left;
    font-size: 20px;
}

.conteudo_teoria h1{
    text-align: center;
    font-size: 36px;
    font-weight:bold;
    margin: 30px auto;
}

.conteudo_teoria h2{
    font-size:26px;
    font-weight: bold;
    margin-top: 30px;
}

.conteudo_teoria li{
    font-size:20px;
}

.conteudo_teoria dd{
    font-size:18px;
}

.conteudo_teoria ol, .conteudo_teoria ul{
    margin:6px auto 6px 30px;
}

.paginacao{
    width:fit-content;
    height:fit-content;
    line-height: 60px;
    position:relative;
    background-color:#1f2a47;
    margin:150px auto;
    font-size:20px;
    text-align:center;
    color:white;
    border-radius: 15px;
    padding:0 15px;
}

.paginacao a{
    color:white;
    padding: 10px 18px;
    text-decoration:none;
}

.paginacao a:hover, .paginacao_atual {
    background-color:#8da7b3;
    color: white;
}

.conteudo_exemplo{
    background-color:#eed2af;
    width:100%;
    height:auto;
    margin: auto 0 30px auto;
    border: 2px solid black;
}

.conteudo_exemplo h3, .conteudo_exemplo li{
    font-size:18px;
    margin:0 auto 15px
}

.linha_vertical{
    border-left:2px solid black;
    height:auto;
    margin-left: 30px;
}

.linha_vertical p{
    margin-left: 10px
}

.apostila_indice{
    color:#1f2a47;
    text-decoration: none;
    max-width:50%;
    margin:auto;
    text-align:center;
}

.apostila_indice a{
    text-decoration: none;
    color: black
}

/* style - quiz */

#quiz_title {
    font-family: 'Ruda';
    text-align: center;
    font-weight: bold;
    position: relative;
}
.quiz_subtitle{
    text-align: center;
}

.quiz_intro{
    display: flex;
    flex-direction: row;
}

.quiz_image{
    width: 600px;
}

.quiz_text{
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 250px;
}

.body_quiz{
    background-color: #e0e5e8;
    width: 100%;
    margin: 0 0 150px;
    font-family: 'Ruda';
}

.quiz-alternativa{
    cursor: pointer;
}

/* .quiz-alternativa-1{
    border-radius: 15px;
    width: 100%;
    background-color: #e0e5e8;
} */

.quiz_page{
    max-width:60%;
    margin: 30px auto;
    background-color: #e0e5e8;
}

.question_box{
    display: grid;
    place-items: center;
    /* background-color: white;
    border-radius: 15px;
    width:100%;
    height:fit-content;
    padding:30px */
} 

.btn_ns{
    display: flex;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    width: 20%;
    height: fit-content;
    border-radius: 15px;
    border-style:dashed;
    opacity: 0.7;}

.question_box_1{
    background-color:#45aede;
    border-radius: 15px;
    flex-direction: row;
    width: 50%;
    height: fit-content;
   display: grid;
   margin-top: 40px;}


.engrenagens-div{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.engrenagem{
width: 27px;
height: 26px;
margin: auto;}

.icone{
    width: 70px;
    position: absolute;
    right: 47.7%;
}

.num_question {
    font-family: 'Ruda';
    display: flex;
    justify-content: center;
    height: 29px;
}

.quiz_title{
    font-weight: bold;
}

.question_script {
    font-family: 'Ruda';
    align-content: center;
    justify-content: center;
    display: flex;
}

.question_script{
    color: white;
}

.quiz_option {
    /* display: flex;
    flex-direction: column; */
    font-family: 'Ruda';
    
}

.quiz_option input{
    margin-bottom: 15px;
}

.button_quiz {
    font-family: 'Ruda';
}

.submit{
    background-color:#1f2a47;
    color:white;
    border-radius: 15px;
    height: 40px;
    width: 240px;
    float:right
}

.botao_iniciar{
    background-color:#1f2a47;
    color: white;
    border-radius: 15px;
    float:right;
    width:180px;
    font-family: 'Ruda';
    transition: 0.25s;
}

.botao_iniciar:hover{
    background-color:#1a233c;
    color: rgb(189, 189, 189);
    border-radius: 15px;
    float:right;
    width:192px;
    font-family: 'Ruda';
    transition: 0.25s;
}

#button_previous{
    float:left
}

#button_next{
    float:right
}

.sem_resposta{
    background-color:darkred;
    color: white;
    text-align:center;
    font-family: "Ruda";
    border-radius: 15px;
}


/* resumo quiz */
.resumo{
    border: 2px solid red
}

/* apresentação do resultado do quiz */
.resultado{
    max-width: 60%;
    margin:auto;
    left:auto;
}

.img_resultados{
    width:25px;
    display: flex;
    height: 25px;
}

.resultado_1{
    display: flex;
    flex-direction: column;
}

.resultado_acertos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resultado_erros{
    display: flex;
    flex-direction: row;
    justify-content: center;}

/* pagina ferramentas*/
.img-ferramentas{
    height: 100px;
    padding-top:20px;
    padding-bottom: 5px;
}

.botao_pagina_ferramentas{
    width: 200px;
}

.ferramentas_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    padding: auto;
    margin: 100px auto ;
}

/*pagina produto*/

.pagina-produto{
    display: grid;
    grid-template-columns: auto auto ;
    width: 60%;
    margin: 5% auto 5% ;
    padding-left: 6%;
}

.img-pagina-produto{
   width: 150px;
   height: auto;
   padding-top: 35px;
}

.text-pagina-produto-sprint{
    margin-top: 20px;
    font-size: 16px;
    text-align: justify;
    padding: 
  
}

.text-pagina-produto-sobre{
    margin: 2% 20% auto 20%;
    text-align: justify;
    font-size: 16px;
}

/* pagina sprint ferramentas */

.img-pagina-sprint{
   max-width: 80%;
   height: auto;

}

.container-sprint-ferramentas{
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-sprint-imagem-botao{
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.body_pacer {
    background-color: #e0e5e8;
    width: 100%;
    margin: 0 0 150px;
    font-family: 'Ruda';
}

.box_teoria_pacer {
    max-width: 60%;
    margin: 30px auto;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}

.box_teoria_pacer h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.box_teoria_pacer p {
    text-align: justify;
}

.box_assessment_pacer {
    max-width: 60%;
    margin: 30px auto;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}
