{% extends "/pacer/base_pacer.html" %}
{% block title %}PACER{% endblock %}
{% block content %}
    <!-- inserir imagem principal da página -->
    <div class="head_img"
        style="background-image:url(/static/images/image-pacer.png); background-position:center; background-size: contain; background-repeat: no-repeat;">
    </div>


    <div class="teoria_pacer">

        <div class="box_teoria_pacer">
            <h1>Avaliação PACER</h1>

            <p>Como conduzir a avaliação PACER? <br>
                O primeiro passo é reunir a equipe para uma avaliação interna, onde cada membro reflete sobre sua
                própria produtividade, autonomia, colaboração e entrega de resultados. Depois dessa análise em conjunto,
                é hora de preencher um questionário com os dados das autoavaliações. <br>
                É importante salientar que cabe ao Scrum Master, preencher esse questionário e auxiliar os membros a
                entender se suas autoavaliações condizem com a realidade. Ele precisa orientar e esclarecer dúvidas para
                garantir que todos compreendam o panorama de habilidades individuais e coletivas. <br>
                Sua intervenção é fundamental para promover uma cultura de autocrítica construtiva e alinhamento
                estratégico, minimizando diferenças entre percepção e desempenho e direcionando o time rumo à excelência
                operacional, mantendo a motivação da equipe.</p>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne"
                                style="color: black; text-decoration: none; font-family: 'Ruda'; ">
                                Parâmetros para PRODUTIVIDADE:
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <strong>0 - REATIVO -</strong> Aquele que não possui iniciativa alguma, aguarda alguém dizer
                            o que fazer ou
                            que algum
                            problema surja. E não observa os próximos passos do planejamento. <br>
                            <strong>1 - DESFOCADO -</strong> Pega muitas atividades gerais e não inicia nenhuma
                            devidamente. Mesmo nas
                            tarefas mais
                            simples tem respostas lentas. <br>
                            <strong>2 - ATIVO -</strong> Tenta pegar as tarefas mais difícies sempre que disponíveis.
                            Fundamental para
                            alcançar a
                            meta da sprint. Pode se enroscar em pequenos problemas não previstos. <br>
                            <strong>3 - PROATIVO -</strong> Possui foco nas tarefas mais valiosas. Além da da
                            iniciativa, evita
                            antecipadamente
                            problemas. Tem altissíma produtividade, foco em uma tarefa por vez e sempre bem feita.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                style="color: black; text-decoration: none; font-family: 'Ruda'; ">
                                Parâmetros para AUTONOMIA:
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <strong>0 - DIRIGIDO -</strong> Não consegue ou não quer iniciar as suas atividades. Sempre
                            precisa de alguém
                            ao lado
                            para progredir nas atividades. <br>
                            <strong>1 - GERIDO -</strong> Demora demais para iniciar as atividades. Demora para perceber
                            que precisa de
                            ajuda. Demora
                            para entender o que deve ser estudado. E só avança quando alguém lhe diz extamente o que
                            deve ser
                            feito.<br>
                            <strong>2 - TREINADO -</strong> Recorre a experiências descritas por alguém antes de tomar
                            as atitudes.
                            Repete passos
                            buscando os mesmos resultados. Pouca capacidade criativa.<br>
                            <strong>3 - AUTOGESTÃO -</strong> Sempre assume as suas responsabilidades com proatividade.
                            Suas estimativas
                            de prazo são
                            precisas. Capacidade analítica e/ou crítica dos desafios que se apresentam.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                style="color: black; text-decoration: none; font-family: 'Ruda'; ">
                                Parâmetros para COLABORAÇÃO:
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <strong>0 - AUSENTE -</strong> Não aparece nas reuniões e não se interessa pelo projeto.<br>
                            <strong>1 - COOPERATIVO -</strong> Preucupa-se com a organização, contudo não cumpre seu
                            papel. Prove
                            informação, mas não
                            faz uma comunicação efetiva. Toma decisões individualmente, mas não em equipe.<br>
                            <strong>2 - COORDENADO -</strong> Compartilha informações. Segue bem os papeis definidos.
                            Comunica-se com
                            frequência. E
                            compartilha as decisões tomadas.<br>
                            <strong>3 - COLABORATIVO -</strong> A equipe age como se fosse um único organismo. A
                            comunicação é prioridade
                            e sempre
                            remete confiança para todos. As decisões chegam em concenso. Compartilha ideias e recursos.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                                style="color: black; text-decoration: none; font-family: 'Ruda'; ">
                                Parâmetros para ENTREGA DE RESULTADOS:
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <strong>0 - NÃO HÁ ENTREGAS -</strong> Não ocorre entrega de sucesso. Existem pontos que
                            aparentemente não
                            serão
                            resolvíveis no tempo restante.<br>
                            <strong>1 - ENTREGAS DUVIDOSAS -</strong> Existem dúvidas se a entrega não arrisca o projeto
                            em algumas
                            áreas. Ações
                            urgentes precisam ser tomadas para garantir a entrega.<br>
                            <strong>2 - ENTREGAS CONFIÁVEIS -</strong> O sucesso é provável. Contudo é necessário uma
                            atenção constante
                            para garantir
                            que riscos não ameacem o projeto.<br>
                            <strong>3 - ENTREGAS PERFEITAS -</strong> Entregas completas, sem erros, bem documentadas
                            com qualidade.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box_assessment_pacer">
        <form action="/pacer#qtd_funcionarios" method="POST">
            <label for="qtd_funcionarios">Quantos colaboradores fazem parte da equipe:</label>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <input class="form-control" type="number" id="qtd_funcionarios" name="qtd_funcionarios" min="1" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn bg-dark btn-sm text-light">Gerar PACER</button>
                </div>
            </div>
        </form>
    </div>
{% if qtd_funcionarios %}
    <form action="/pacer/ver/{{qtd_funcionarios}}#resultados" method="POST">
        {% for i in range(qtd_funcionarios) %}
        <div class="box_assessment_pacer">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label" for="nome_funcionario{{i}}">Nome do funcionario:</label>
                </div>
                <div class="col-6">
                    <input class="form-control" type="text" id="nome_funcionario{{i}}" name="nome_funcionario{{i}}" required>
                </div>
            </div>
            <br>
            <p>Considerando a PRODUTIVIDADE do funcionário</p>
            <label label for="0productivity{{i}}">
            <input type="radio" id="0productivity{{i}}" name="productivity{{i}}" value="0" required>
            0 - REATIVO</label>

            <label label for="1productivity{{i}}">
            <input type="radio" id="1productivity{{i}}" name="productivity{{i}}" value="1">
            1 - DESFOCADO</label>

            <label label for="2productivity{{i}}">
            <input type="radio" id="2productivity{{i}}" name="productivity{{i}}" value="2">
            2 - ATIVO</label>

            <label label for="3productivity{{i}}">
            <input type="radio" id="3productivity{{i}}" name="productivity{{i}}" value="3">
            3 - PROATIVO</label>
            <br>

            <p>Considerando a AUTONOMIA do funcionário</p>

            <label label for="0autonomy{{i}}">
            <input type="radio" id="0autonomy{{i}}" name="autonomy{{i}}" value="0" required>
            0 - DIRIGIDO</label>

            <label label for="1autonomy{{i}}">
            <input type="radio" id="1autonomy{{i}}" name="autonomy{{i}}" value="1">
            1 - GERIDO</label>

            <label label for="2autonomy{{i}}">
            <input type="radio" id="2autonomy{{i}}" name="autonomy{{i}}" value="2">
            2 - TREINADO</label>

            <label label for="3autonomy{{i}}">
            <input type="radio" id="3autonomy{{i}}" name="autonomy{{i}}" value="3">
            3 - AUTOGESTÃO</label>

            <br>
            <p>Considerando a COLABORAÇÃO do funcionário</p>
            <label label for="0collaboration{{i}}">
            <input type="radio" id="0collaboration{{i}}" name="collaboration{{i}}" value="0" required>
            0 - AUSENTE</label>

            <label label for="1collaboration{{i}}">
            <input type="radio" id="1collaboration{{i}}" name="collaboration{{i}}" value="1">
            1 - COOPERATIVO</label>

            <label label for="2collaboration{{i}}">
            <input type="radio" id="2collaboration{{i}}" name="collaboration{{i}}" value="2">
            2 - COORDENADO</label>

            <label label for="3collaboration{{i}}">
            <input type="radio" id="3collaboration{{i}}" name="collaboration{{i}}" value="3">
            3 - COLABORATIVO</label>

            <br>
            <p>Considerando a ENTREGA DE RESULTADOS do funcionário</p>
            <label label for="0results{{i}}">
            <input type="radio" id="0results{{i}}" name="results{{i}}" value="0" required>
            0 - NÃO HÁ ENTREGAS</label>

            <label label for="1results{{i}}">
            <input type="radio" id="1results{{i}}" name="results{{i}}" value="1">
            1 - ENTREGAS DUVIDOSAS</label>

            <label label for="2results{{i}}">
            <input type="radio" id="2results{{i}}" name="results{{i}}" value="2">
            2 - ENTREGAS CONFIÁVEIS</label>

            <label label for="3results{{i}}">
            <input type="radio" id="3results{{i}}" name="results{{i}}" value="3">
            3 - ENTREGAS PERFEITAS</label>
        </div>
            {% endfor %}
            <div class="box_assessment_pacer" style="background-color: transparent; padding:0; margin-bottom: 10vh;">
                <button class="btn bg-dark pacer_button text-light" type="submit" style="float:right">Enviar PACER</button>
            </div>
    </form>
{% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
{% endblock %}

</body>

</html>