{% extends "/pacer/base_pacer.html" %}
{% block title %}admin{% endblock %}
{% block script %}
         <!-- DataTables CSS from CDN -->
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
         <!-- jQuery from CDN -->
         <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
         <!-- DataTables JS from CDN -->
         <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
<div class="box_teoria_pacer">
<h1>Página de administrador</h1>
<div>
  <h4>O que as pessoas acham do curso:</h4>
  <p>Média das notas do feedback: <strong>{{media_feedback}} / 5</strong></p>
  <figure style="width:100%">
    <img src="data:image/png;base64,{{ graph }}" alt="Meu Gráfico de Barras" style="max-width:100%;">
    <figcaption>eixo x: nota do feedback | eixo y: número de pessoas</figcaption>
  </figure>
</div>
<br>
<div>
  <h4>Aproveitamento dos usuarios:</h4>
  <p>Média das notas do quiz: <strong>{{media_quiz}} / 31</strong></p>
  <p>Média das notas da prova: <strong>{{media_prova}} / 10</strong></p>
</div>
<br>
<h4>Relação usuario , nota e feedback</h4>
  <div class="table-admin">
    <table class="table table-striped table-admin" id="user_table">
      <thead>
        <tr>
          <th scope="col">Usuário</th>
          <!-- <th scope="col">Quiz</th> -->
          <!-- <th scope="col">Prova</th> -->
          <th scope="col">Feedback</th>
          <th scope="col">Sugestão</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in users_results.items() %}
        <tr>
          <th scope="row">{{key}}</th>
          <!-- <td>{{value[1]}}</td> -->
          <!-- <td>{{value[0]}}</td> -->
          <td>{{value[2]}}</td>
          <td>{{value[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Initialize DataTables -->
<script>
  $(document).ready( function () {
      $('#user_table').DataTable({"autoWidth":true});
  } );
  </script>

{% endblock %}