<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> 
    <title>{% block title %} <!-- inserir o nome da página --> {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/images/logo_transp.png">
</head>
<body class="body_teoria">
    <!-- cabeçalho -->

        <div class="link_bar">

            <a class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" style="color:white; font-size:30px; line-height:60px">
                &#9776
            </a>
              
              <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="background-color: #223c4b; color:white;">
                <div class="offcanvas-header">

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search" style="width:240px">
                        <button class="btn btn-outline-success" type="submit">&#128269</button>
                    </form>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="indice">
                        <h5>Índice</h5>
                        <!-- construção do indice com loop pelo arquivo json -->
                        <ol>
                            {% for item in paginas %}
                            <li><a href="{{paginas[item][0]}}">{{item}}</a></li>
                                <ul>
                                    {%for i in range(0,(paginas[item]|length)-1,2)%}
                                    <li><a href='{{paginas[item][0]}}#{{paginas[item][i+2]}}'>{{paginas[item][i+1]}}</a></li>
                                    {%endfor%}
                                </ul>
                            <br>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
              </div>


            <a href="/"><img src="/static/images/logo_transp.png" alt="logo"></a>
            <span class="header_link">
                <a href="#" alt="resultado">RESULTADO</a>
                <a href="/apostila" alt="apostila">APOSTILA</a>
                <a href="/quiz" alt="quiz">QUIZ</a>
                <!-- <a href="#" alt="home">HOME</a> -->
            </span>
            <hr class="header_hr">
        </div>

    <!-- inserir imagem principal da página -->
    {% block head_image %} {% endblock %}

    <!-- conteúdo de teoria -->
    {% block content %}
    {% endblock %}

    <!-- perguntas -->
    {% block perguntas %}
    {% endblock %}

    <!-- paginação -->
            <div class="paginacao">
                <a href='{% block voltar %}{% endblock %}' title="página anterior">&#11207;</a>
                <a href="/apostila/introducao" title="página 1" {% block highlight_1 %}{% endblock %}>1</a> |
                <a href="/apostila/papeis" title="página 2" {% block highlight_2 %}{% endblock %}>2</a> |
                <a href="/apostila/cerimonias" title="página 3" {% block highlight_3 %}{% endblock %}>3</a> |
                <a href="/apostila/artefatos" title="página 4" {% block highlight_4 %}{% endblock %}>4</a> |
                <a href="/apostila/priorizacao" title="página 5" {% block highlight_5 %}{% endblock %}>5</a> |
                <a href="/apostila/vantagens-e-desvantagens" title="página 6" {% block highlight_6 %}{% endblock %}>6</a> |
                <a href="/apostila/glossario" title="página 7" {% block highlight_7 %}{% endblock %}>7</a>
                <a href="{% block prox %}{% endblock %}" title="próxima página">&#11208;</a>
            </div>
    <footer>
        
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
</body>
</html>