<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block title %} <!-- inserir o nome da página --> {% endblock %}</title>
</head>
<body class="body_teoria">
    <!-- cabeçalho -->
    <header>
        <div class="link_bar">
            <img src="" alt="logo">
            <span class="header_link">
                <a href="#" alt="resultado">resultado</a>
                <a href="#" alt="apostila">apostila</a>
                <a href="#" alt="quiz">quiz</a>
                <a href="#" alt="home">home</a>
            </span>
        </div>
        <hr style="margin:0; height:2px;">
        <!-- inserir imagem principal da página -->
        {% block head_image %} {% endblock %}
    </header>

    <!-- conteúdo de teoria -->
    {% block content %}
    {% endblock %}

    {% block perguntas %}
    {% endblock %}

    <!-- paginação -->
            <div class="paginacao">
                <a href='{% block voltar %}{% endblock %}' title="página anterior">&#11207;</a>
                <a href="/apostila/introducao" title="página 1" {% block highlight_1 %}{% endblock %}>1</a> |
                <a href="/apostila/papeis" title="página 2" {% block highlight_2 %}{% endblock %}>2</a> |
                <a href="/apostila/cerimonias" title="página 3" {% block highlight_3 %}{% endblock %}>3</a> |
                <a href="/apostila/artefatos" title="página 4" {% block highlight_4 %}{% endblock %}>4</a> |
                <a href="/apostila/priorizacao" title="página 5" {% block highlight_5 %}{% endblock %}>5</a> |
                <a href="/apostila/vantagens-e-desvantagens" title="página 6" {% block highlight_6 %}{% endblock %}>6</a> |
                <a href="/apostila/glossario" title="página 7" {% block highlight_7 %}{% endblock %}>7</a>
                <a href="{% block prox %}{% endblock %}" title="próxima página">&#11208;</a>
            </div>
    <footer>
        
    </footer>

</body>
</html>