<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background:url(/static/images/template_certificate.jpeg); background-repeat: no-repeat; height:904px; width:1278px">
    <div style="width:1278px">
        <h1 style="width:fit-content; margin:auto; margin-top:350px">{{current_user.id}} pedro garcia</h1>  
    </div>
    <div style="width: 1278px;">
        <h2 style="width:fit-content; margin-left:610px; margin-top:165px">{{data}}</h2>
    </div>
</body>
</html>