<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url(../static/images/template_certificate.jpeg);
            background-repeat: no-repeat;
            height: 904px;
            width: 1278px;
        }

        div{
            width: 1278px;
        }

        h1{
            width: fit-content;
            margin: auto;
            margin-top: 350px;
        }

        h2{
            width: fit-content;
            margin-left: 610px;
            margin-top: 165px;
        }

    </style>
</head>
<body>
    <div>
        <h1>{{nome}}</h1>  
    </div>
    <div>
        <h2>{{data}}</h2>
    </div>
</body>
</html>