<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_GDC.css') }}">
    <title>Gerador de Certificado</title>
</head>
<body class="body_GDC">
    <div class="container mt-5">
        <h1 class="text-center">Gerador de Certificados</h1>
        
        
<form action="/gerar" method="post" class="mt-4">
            
     
<div class="form-group">
                
    
<label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="curso">Curso:</label>
                <input type="text" class="form-control" id="curso" name="curso" required>
            
     
</div>
            <button type="submit" class="btn btn-primary mt-3">Gerar Certificado</button>
        </form>
    </div>
</body>
</html>