<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/normalize.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/indexstyle.css')}}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/images/logo_transp.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
      rel="stylesheet"
    />
    <title>Mestre Ágil</title>
  </head>
  <body background="{{url_for('static', filename='images/corpo_home.png')}}">
    <div class="navbar">
      <img
        class="navbar-logo"
        src="{{url_for('static', filename='images/logo_transp.png')}}"
        alt="Logo"
      />
      <ul class="navbar-list">
        <li class="navbar-item"><a href="/avaliacao">Avaliação</a></li>
        <li class="navbar-item"><a href="/apostila">Apostila</a></li>
        <li class="navbar-item"><a href="/quiz">Quiz</a></li>
        <li class="navbar-item"><a href="#">Ferramentas</a></li>
      </ul>
    </div>
    <div class="index-cover">
      <img src="{{url_for('static', filename='images/capa.png')}}" alt="Capa" />
      <div>
        <h1 class="title">SCRUM</h1>
        <hr />
        <p class="title-small">Gerencie seu projeto com nosso guia prático</p>
      </div>
    </div>
    <div class="index-guide">
      <img
        src="{{url_for('static', filename='images/board_1.png')}}"
        alt="Guia"
      />
      <div class="index-guide-text">
        <h2>Guia Completo</h2>
        <h3>Subheading for description or instructions</h3>
        <p>
          Body text for your whole article or post. We'll put in some lorem
          ipsum to show how a filled-out page might look:
        </p>
        <p>
          Excepteur efficient emerging, minim veniam anim aute carefully curated
          Ginza conversation exquisite perfect nostrud nisi intricate Content.
          Qui international first-class nulla ut. Punctual adipisicing,
          essential lovely queen tempor eiusmod irure. Exclusive izakaya
          charming Scandinavian impeccable aute quality of life soft power
          pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et
          Porter destination Toto remarkable officia Helsinki excepteur Basset
          hound. Zürich sleepy perfect consectetur.
        </p>
      </div>
    </div>
    <div class="index-quiz">
      <img
        src="{{url_for('static', filename='images/reuniao_2.png')}}"
        alt="Quiz"
      />
      <h2>Quiz</h2>
      <h3>Subheading for description or instructions</h3>
      <p>
        Body text for your whole article or post. We'll put in some lorem ipsum
        to show how a filled-out page might look:
      </p>
      <p>
        Excepteur efficient emerging, minim veniam anim aute carefully curated
        Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui
        international first-class nulla ut. Punctual adipisicing, essential
        lovely queen tempor eiusmod irure. Exclusive izakaya charming
        Scandinavian impeccable aute quality of life soft power pariatur
        Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter
        destination Toto remarkable officia Helsinki excepteur Basset hound.
        Zürich sleepy perfect consectetur.
      </p>
    </div>
    <div class="index-tools">
      <img
        src="{{url_for('static', filename='images/icones.png')}}"
        alt="Ferramentas"
      />
      <h2>Ferramentas</h2>
      <h3>Subheading for description or instructions</h3>
      <p>
        Body text for your whole article or post. We'll put in some lorem ipsum
        to show how a filled-out page might look:
      </p>
      <p>
        Excepteur efficient emerging, minim veniam anim aute carefully curated
        Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui
        international first-class nulla ut. Punctual adipisicing, essential
        lovely queen tempor eiusmod irure. Exclusive izakaya charming
        Scandinavian impeccable aute quality of life soft power pariatur
        Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter
        destination Toto remarkable officia Helsinki excepteur Basset hound.
        Zürich sleepy perfect consectetur.
      </p>
    </div>
  </body>
</html>
