<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/indexstyle.css')}}">
      <link rel="icon" type="image/x-icon" href="/static/images/logo_transp.png">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap" rel="stylesheet">
      <title>Mestre Ágil</title>
   </head>
   <body>
      
   </body>
</html>