<!DOCTYPE html>
<html>
   <head>
      <title>Scrum</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/styleIndex')}}">
   </head> 
   <body>
      <header>
         <nav>
            <img src="{{url_for('static', filename='images/logo.png')}}">
            <a href="dominio.tld/Page">pagina1</a>
            <a href="dominio.tld/Page">pagina2</a>
            <a href="dominio.tld/Page">pagina3</a>
            <a href="dominio.tld/login">login</a>
         </nav>
            <h1>SCRUM</h1>
            <p>Gerencie seu projeto com o nosso guia pratico</p>
      </header>
      <main>
         <div class="guia completo">
            <img src="{{url_for('static', filename='images/board_1.png')}}">
            <!--Escreva aqui as informações do guia completo-->
            <h1>Postagem Mais Recente</h1>
         </div>
         <div class="quiz">
            <img src="{{url_for('static', filename='images/reuniâo_1.png')}}">
            <!--escreva aqui as informações sobre os quiz-->
            <h1>Postagem Mais Recente</h1>
         </div>
         <div class="feramentas">
            <h1>feramentas</h1>
            <img src="{{url_for('static', filename='images/icones_nome.png')}}">
            <!--escreva aqui sobre as feramentas-->
            <p>Sobre o Curso</p>
         </div>
      </main>
      <span class="sobre a empresa">
         <h1>Quem somos nós</h1>
         <!--escreva aqui sobre a empresa-->
         <h2>-------------</h2>
      </span>
      <footer>
      </footer>
    </body>
</html>